openapi: 3.2.0
info:
  title: Reef Media, Film & Knowledge API
  version: 1.0.0
  description: Unified data-API gateway. Call POST /{engine}/v1/{action} with an x-api-key header; every response is the { ok, data, meta, error } envelope.
servers:
- url: https://api.reefapi.com
security:
- ApiKeyAuth: []
tags:
- name: Media, Film & Knowledge
paths:
  /academic/v1/search:
    post:
      operationId: academic_search
      summary: search papers (source=openalex|arxiv|crossref|all; cursor pagination…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                source:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
                filter:
                  type: string
                sort:
                  type: string
                from_year:
                  type: string
                to_year:
                  type: string
                open_access:
                  type: string
                type:
                  type: string
                match:
                  type: string
                category:
                  type: string
                include_abstract:
                  type: string
                fulltext:
                  type: string
                author_id:
                  type: string
                venue_id:
                  type: string
                institution_id:
                  type: string
                concept_id:
                  type: string
                topic_id:
                  type: string
              required:
              - query
            example:
              query: covid
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/paper_detail:
    post:
      operationId: academic_paper_detail
      summary: full paper (abstract/authors/affiliations/venue/year/DOI/OA-PDF/fields)…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                enrich:
                  type: string
                raw:
                  type: string
                fill_abstract:
                  type: string
              required:
              - id
            example:
              id: W3177828909
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/citations:
    post:
      operationId: academic_citations
      summary: papers that cite this work (cursor-paginated)
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - id
            example:
              id: W3009885589
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/references:
    post:
      operationId: academic_references
      summary: works this paper references (hydrated)
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                limit:
                  type: string
              required:
              - id
            example:
              id: W3009885589
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/related:
    post:
      operationId: academic_related
      summary: OpenAlex-curated related works for a paper (co-cited / topically-adjacent)…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                limit:
                  type: string
              required:
              - id
            example:
              id: W3177828909
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/author:
    post:
      operationId: academic_author
      summary: 'author search (query) or profile (id): works_count, h-index, affiliations…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
                per_page:
                  type: string
            example:
              query: yoshua bengio
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/institution:
    post:
      operationId: academic_institution
      summary: 'institution search/profile: ROR, country, geo, works/citation counts, h-index…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                per_page:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
            example:
              query: stanford
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/venue:
    post:
      operationId: academic_venue
      summary: 'journal/venue search/profile: ISSN, publisher, OA/DOAJ, h-index, works/citation…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                per_page:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
            example:
              query: nature
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/concept:
    post:
      operationId: academic_concept
      summary: 'concept search (query) or profile (id): level, works/citation counts…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                per_page:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
            example:
              query: machine learning
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/topic:
    post:
      operationId: academic_topic
      summary: 'topic search (query) or profile (id): domain>field>subfield hierarchy…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                per_page:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
            example:
              query: protein folding
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/autocomplete:
    post:
      operationId: academic_autocomplete
      summary: fast typeahead suggestions (works/authors/sources/institutions)
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                entity:
                  type: string
              required:
              - q
            example:
              q: deep learn
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /academic/v1/batch:
    post:
      operationId: academic_batch
      summary: hydrate up to 200 papers by id/DOI in one call (RAG/ETL)
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: string
                include_abstract:
                  type: string
                limit:
                  type: string
              required:
              - ids
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/book_detail:
    post:
      operationId: books_book_detail
      summary: merged book record by ISBN-10/13 or OLID (work OL..W / edition OL..M)…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            example:
              id: '9780439023528'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/search:
    post:
      operationId: books_search
      summary: 'search books: q OR fielded (title/author/subject/publisher/place/person/isbn/lan…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                query:
                  type: string
                title:
                  type: string
                author:
                  type: string
                subject:
                  type: string
                publisher:
                  type: string
                place:
                  type: string
                person:
                  type: string
                isbn:
                  type: string
                language:
                  type: string
                sort:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
            example:
              q: the hunger games
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/author:
    post:
      operationId: books_author
      summary: author by OLID (OL..A) → bio/photo/dates/alternate-names/remote-ids(goodreads/wi…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                query:
                  type: string
                name:
                  type: string
                q:
                  type: string
                include_works:
                  type: string
                works_limit:
                  type: string
                per_page:
                  type: string
                limit:
                  type: string
            example:
              query: j r r tolkien
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/author_works:
    post:
      operationId: books_author_works
      summary: 'full paginated bibliography of an author (OL..A): every work with cover…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                olid:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
              required:
              - id
            example:
              id: OL26320A
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/subjects:
    post:
      operationId: books_subjects
      summary: browse a subject / genre / theme → ranked work cards PLUS facets (top authors…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                name:
                  type: string
                q:
                  type: string
                genre:
                  type: string
                ebooks:
                  type: string
                published_in:
                  type: string
                sort:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
              required:
              - subject
            example:
              subject: fantasy
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/trending:
    post:
      operationId: books_trending
      summary: most popular / trending books for a time window…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                range:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
            example:
              period: daily
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/editions:
    post:
      operationId: books_editions
      summary: every printing / edition of a book (give a work OLID, an edition OLID, or any…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                olid:
                  type: string
                isbn:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
              required:
              - id
            example:
              id: OL5735363W
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /books/v1/ebook:
    post:
      operationId: books_ebook
      summary: 'public-domain full-text (Project Gutenberg): query OR id=Gutenberg-id OR…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                search:
                  type: string
                q:
                  type: string
                id:
                  type: string
                gutenberg_id:
                  type: string
                ids:
                  type: string
                languages:
                  type: string
                topic:
                  type: string
                sort:
                  type: string
                mime_type:
                  type: string
                author_year_start:
                  type: string
                author_year_end:
                  type: string
                copyright:
                  type: string
                limit:
                  type: string
                per_page:
                  type: string
                page:
                  type: string
            example:
              id: '1342'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /coursera/v1/search:
    post:
      operationId: coursera_search
      summary: Search Coursera by keyword (any topic, skill, tool or title).
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                level:
                  type: string
                type:
                  type: string
                language:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                subject:
                  type: string
              required:
              - query
            example:
              query: machine learning
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /coursera/v1/detail:
    post:
      operationId: coursera_detail
      summary: Full detail for one Coursera course OR program (specialization / professional…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                url:
                  type: string
                type:
                  type: string
            example:
              slug: machine-learning
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /coursera/v1/reviews:
    post:
      operationId: coursera_reviews
      summary: 'Top public student reviews for a Coursera course or program by slug/url: star…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                url:
                  type: string
                type:
                  type: string
            example:
              slug: machine-learning
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /coursera/v1/partners:
    post:
      operationId: coursera_partners
      summary: Browse the universities and companies that partner with Coursera (Stanford…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /coursera/v1/subjects:
    post:
      operationId: coursera_subjects
      summary: Browse Coursera's subject catalogue — the top-level domains (Data Science…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /donanimhaber/v1/search:
    post:
      operationId: donanimhaber_search
      summary: Keyword-search every post on DonanımHaber Forum — the site's own search index…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                search_in:
                  type: string
                match:
                  type: string
                sort:
                  type: string
                first_post_only:
                  type: string
                section:
                  type: string
                topic:
                  type: string
                posted_within:
                  type: string
                limit:
                  type: string
                page:
                  type: string
              required:
              - query
            example:
              query: ekran kartı
              search_in: title
              limit: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /donanimhaber/v1/topic:
    post:
      operationId: donanimhaber_topic
      summary: 'Full detail for one DonanımHaber Forum thread: title, the complete opening post…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                page:
                  type: string
              required:
              - topic
            example:
              topic: '163852334'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /donanimhaber/v1/section:
    post:
      operationId: donanimhaber_section
      summary: List the topics in one DonanımHaber Forum section, newest activity first, with…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                section:
                  type: string
                page:
                  type: string
                limit:
                  type: string
                query:
                  type: string
                posted_within:
                  type: string
                include_sticky:
                  type: string
              required:
              - section
            example:
              section: '2770'
              limit: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /donanimhaber/v1/sections:
    post:
      operationId: donanimhaber_sections
      summary: The DonanımHaber Forum section directory — every public section with its…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                limit:
                  type: string
            example:
              query: seo
              limit: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /edx/v1/search:
    post:
      operationId: edx_search
      summary: Search the edX catalogue by keyword (any topic, skill, tool or course/program…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                level:
                  type: string
                type:
                  type: string
                program_type:
                  type: string
                language:
                  type: string
                subject:
                  type: string
                partner:
                  type: string
                availability:
                  type: string
                page:
                  type: string
              required:
              - query
            example:
              query: python
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /edx/v1/detail:
    post:
      operationId: edx_detail
      summary: Full detail for one edX course OR program by slug or URL.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                url:
                  type: string
            example:
              slug: learn/python/harvard-university-cs50-s-introduction-to-programming-with-python
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /edx/v1/partners:
    post:
      operationId: edx_partners
      summary: Browse every school, university and company that publishes on edX (Harvard…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /edx/v1/subjects:
    post:
      operationId: edx_subjects
      summary: Browse edX's subject areas (Computer Science, Business & Management, Data…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /eventbrite/v1/search:
    post:
      operationId: eventbrite_search
      summary: Search Eventbrite for events by keyword in a city, with optional category, date…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                location:
                  type: string
                category:
                  type: string
                date:
                  type: string
                free:
                  type: string
                page:
                  type: string
            example:
              query: music
              location: united-states--new-york
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /eventbrite/v1/detail:
    post:
      operationId: eventbrite_detail
      summary: 'Full detail for one event by id or url: name, description, start/end datetime…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: string
                url:
                  type: string
            example:
              event_id: '1989917921069'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /eventbrite/v1/organizer:
    post:
      operationId: eventbrite_organizer
      summary: 'Profile for an event organizer by id or url: name, bio, verification, avatar…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                organizer_id:
                  type: string
                url:
                  type: string
            example:
              organizer_id: '105655500371'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /eventbrite/v1/organizer_events:
    post:
      operationId: eventbrite_organizer_events
      summary: An organizer's events, paginated (30/page).
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organizer_id:
                  type: string
                type:
                  type: string
                page:
                  type: string
              required:
              - organizer_id
            example:
              organizer_id: '105655500371'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /eventbrite/v1/browse:
    post:
      operationId: eventbrite_browse
      summary: Browse Eventbrite's curated event listings for a city and/or category (the…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                category:
                  type: string
            example:
              location: united-states--new-york
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /feed-gateway/v1/fetch:
    post:
      operationId: feed_gateway_fetch
      summary: Fetch ONE feed URL (RSS 2.0/0.9x, RSS 1.0/RDF, Atom, JSON-Feed 1.1…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                limit:
                  type: string
                sort_by:
                  type: string
                sort_dir:
                  type: string
                include_content:
                  type: string
                since:
                  type: string
                until:
                  type: string
              required:
              - url
            example:
              url: https://feeds.bbci.co.uk/news/world/rss.xml
              limit: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /feed-gateway/v1/discover:
    post:
      operationId: feed_gateway_discover
      summary: 'Find the feeds of ANY website: parses tags + visible anchor hints, then probes…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                probe:
                  type: string
                limit:
                  type: string
              required:
              - url
            example:
              url: https://www.theverge.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /feed-gateway/v1/merge:
    post:
      operationId: feed_gateway_merge
      summary: Merge up to 10 feeds into ONE de-duplicated, date-sorted stream.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: string
                limit:
                  type: string
                sort_dir:
                  type: string
                dedup:
                  type: string
                since:
                  type: string
                until:
                  type: string
                include_content:
                  type: string
              required:
              - urls
            example:
              urls:
              - https://feeds.bbci.co.uk/news/world/rss.xml
              - https://feeds.bbci.co.uk/news/technology/rss.xml
              limit: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /feed-gateway/v1/search:
    post:
      operationId: feed_gateway_search
      summary: Keyword-filter feed items (like RSSHub filter / Feedly search, but no account).
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                urls:
                  type: string
                query:
                  type: string
                exclude:
                  type: string
                fields:
                  type: string
                match:
                  type: string
                limit:
                  type: string
                sort_by:
                  type: string
                sort_dir:
                  type: string
                include_content:
                  type: string
                since:
                  type: string
                until:
                  type: string
            example:
              url: https://feeds.bbci.co.uk/news/world/rss.xml
              query: a e i o u
              match: any
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /feed-gateway/v1/batch:
    post:
      operationId: feed_gateway_batch
      summary: 'Fetch up to 20 feeds in ONE call (concurrent, fault-isolated): each feed…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: string
                limit:
                  type: string
                include_content:
                  type: string
                sort_by:
                  type: string
                sort_dir:
                  type: string
              required:
              - urls
            example:
              urls:
              - https://feeds.bbci.co.uk/news/world/rss.xml
              - https://hnrss.org/frontpage
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/book_detail:
    post:
      operationId: goodreads_book_detail
      summary: 'Full book record from Goodreads by book ID or URL: title, author(s), average…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
                reviews_limit:
                  type: string
                include_pii:
                  type: string
            example:
              id: '2767052'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/search:
    post:
      operationId: goodreads_search
      summary: Search for books or authors on Goodreads by title, author name, or keyword →…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
              required:
              - query
            example:
              query: hunger games
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/author:
    post:
      operationId: goodreads_author
      summary: 'Author profile from Goodreads by author ID or URL: name, average rating, total…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
            example:
              id: '153394'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/author_books:
    post:
      operationId: goodreads_author_books
      summary: An author's complete bibliography on Goodreads (paginated) by author ID or URL…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
                page:
                  type: string
            example:
              id: '153394'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/reviews:
    post:
      operationId: goodreads_reviews
      summary: Fetch reader reviews for a book on Goodreads (by ID or URL) → each review…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
                book_id:
                  type: string
                include_pii:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/series:
    post:
      operationId: goodreads_series
      summary: A Goodreads book series by series ID or URL → the ordered list of books in the…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
            example:
              id: '73758'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/list:
    post:
      operationId: goodreads_list
      summary: A Goodreads Listopia list by list ID or URL (paginated) → its ranked books with…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
                page:
                  type: string
            example:
              id: '1'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/lists_by_tag:
    post:
      operationId: goodreads_lists_by_tag
      summary: Discover the most popular Goodreads Listopia lists for a topic tag (e.g.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
                page:
                  type: string
              required:
              - tag
            example:
              tag: fantasy
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/genre:
    post:
      operationId: goodreads_genre
      summary: The most-read books in a Goodreads genre / shelf this week (e.g.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                genre:
                  type: string
              required:
              - genre
            example:
              genre: fantasy
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /goodreads/v1/quotes:
    post:
      operationId: goodreads_quotes
      summary: Quotes from Goodreads — either every quote BY an author (author_id) or every…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author_id:
                  type: string
                work_id:
                  type: string
                book_id:
                  type: string
                id:
                  type: string
                url:
                  type: string
                page:
                  type: string
                include_pii:
                  type: string
            example:
              author_id: '153394'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/item:
    post:
      operationId: hackernews_item
      summary: single item by id (story/comment/job/poll/pollopt) — all official fields +…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                hydrate_kids:
                  type: string
                kids_limit:
                  type: string
              required:
              - id
            example:
              id: 8863
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/item_tree:
    post:
      operationId: hackernews_item_tree
      summary: full nested comment TREE for a story in ONE call; recursive children +…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            example:
              id: 8863
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/user:
    post:
      operationId: hackernews_user
      summary: 'user profile by id: karma/created/about/submitted; hydrate_submitted=resolve…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                hydrate_submitted:
                  type: string
                submitted_limit:
                  type: string
              required:
              - id
            example:
              id: pg
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/stories:
    post:
      operationId: hackernews_stories
      summary: story-list (list=top/new/best/ask/show/job) → ranked hydrated stories…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                list:
                  type: string
                limit:
                  type: string
                offset:
                  type: string
                hydrate:
                  type: string
            example:
              list: top
              limit: 15
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/search:
    post:
      operationId: hackernews_search
      summary: 'Full-text search: query + tags(story/comment/ask_hn/show_hn/poll/front_page/auth…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                tags:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                hits_per_page:
                  type: string
                min_points:
                  type: string
                max_points:
                  type: string
                min_comments:
                  type: string
                max_comments:
                  type: string
                before:
                  type: string
                after:
                  type: string
                numeric_filters:
                  type: string
                restrict:
                  type: string
            example:
              query: python
              tags: story
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/poll:
    post:
      operationId: hackernews_poll
      summary: 'Poll detail by id: the question + every voting option resolved and ranked by…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            example:
              id: 126809
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/front_page:
    post:
      operationId: hackernews_front_page
      summary: Stories that recently made the Hacker News front page (newest-first), paginated.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: string
                page:
                  type: string
                after:
                  type: string
                before:
                  type: string
            example:
              limit: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/updates:
    post:
      operationId: hackernews_updates
      summary: 'live changefeed: recently changed item ids + profiles + max_item…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hydrate:
                  type: string
                limit:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /hackernews/v1/max_item:
    post:
      operationId: hackernews_max_item
      summary: the current largest item id on Hacker News — the newest id, useful for…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/search:
    post:
      operationId: imdb_search
      summary: Search IMDb for movies, TV shows and people by name.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                kind:
                  type: string
              required:
              - query
            example:
              query: the matrix
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/title:
    post:
      operationId: imdb_title
      summary: 'Full IMDb title card for one movie or TV show by its tt… id: IMDb user rating…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/person:
    post:
      operationId: imdb_person
      summary: 'Full IMDb name card for one person by their nm… id: biography, birth/death…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                role:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: nm0000158
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/episodes:
    post:
      operationId: imdb_episodes
      summary: Episode list for a TV series by its tt… id, with each episode's IMDb rating…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                season:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0903747
              season: 1
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/charts:
    post:
      operationId: imdb_charts
      summary: 'An IMDb chart: the Top 250 movies, Top 250 TV, Bottom 100, or a Most-Popular /…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                chart:
                  type: string
                limit:
                  type: string
            example:
              chart: top_250
              limit: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/reviews:
    post:
      operationId: imdb_reviews
      summary: User reviews for a movie or TV show by its tt… id — the full IMDb review text…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                sort:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/videos:
    post:
      operationId: imdb_videos
      summary: Trailers and video clips for a movie or TV show by its tt… id, each with a…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/photos:
    post:
      operationId: imdb_photos
      summary: Image gallery for a movie or TV show by its tt… id — posters, stills and event…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/awards:
    post:
      operationId: imdb_awards
      summary: Awards and nominations for a movie or TV show by its tt… id — Oscars, Golden…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/extras:
    post:
      operationId: imdb_extras
      summary: 'Extra IMDb detail for a movie or TV show by its tt… id in one call: trivia…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/credits:
    post:
      operationId: imdb_credits
      summary: Full cast & crew for a movie or TV show by its tt… id, grouped by department…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                category:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: tt0133093
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/person_extras:
    post:
      operationId: imdb_person_extras
      summary: 'Extra IMDb detail for a person by their nm… id: their photo gallery (full-res…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imdb_id:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
              required:
              - imdb_id
            example:
              imdb_id: nm0634240
              limit: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /imdb/v1/whats_new:
    post:
      operationId: imdb_whats_new
      summary: 'IMDb''s ''what''s new'' lists: upcoming movies (coming_soon_movies) or TV…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                list:
                  type: string
                region:
                  type: string
                cursor:
                  type: string
                limit:
                  type: string
            example:
              list: box_office
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/search:
    post:
      operationId: internet_archive_search
      summary: Search archive.org's catalogue.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                mediatype:
                  type: string
                collection:
                  type: string
                creator:
                  type: string
                subject:
                  type: string
                language:
                  type: string
                year_from:
                  type: string
                year_to:
                  type: string
                sort:
                  type: string
                rows:
                  type: string
                page:
                  type: string
            example:
              query: apollo 11
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/item:
    post:
      operationId: internet_archive_item
      summary: 'Full metadata for one archive.org item by identifier: title, creator…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                include_files:
                  type: string
                include_reviews:
                  type: string
                files_limit:
                  type: string
              required:
              - identifier
            example:
              identifier: OTRR_Dragnet_Singles
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/collection:
    post:
      operationId: internet_archive_collection
      summary: Browse the items inside an archive.org collection by its identifier (e.g.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collection:
                  type: string
                mediatype:
                  type: string
                query:
                  type: string
                sort:
                  type: string
                rows:
                  type: string
                page:
                  type: string
              required:
              - collection
            example:
              collection: librivoxaudio
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/reviews:
    post:
      operationId: internet_archive_reviews
      summary: 'All public reviews and star ratings for one archive.org item: reviewer handle…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
              required:
              - identifier
            example:
              identifier: OTRR_Dragnet_Singles
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/files:
    post:
      operationId: internet_archive_files
      summary: Just the downloadable files for one archive.org item (no heavy…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                format:
                  type: string
                files_limit:
                  type: string
              required:
              - identifier
            example:
              identifier: OTRR_Dragnet_Singles
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /internet-archive/v1/search_inside:
    post:
      operationId: internet_archive_search_inside
      summary: 'Full-text ''search inside'' one digitized book on archive.org: find a phrase…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                query:
                  type: string
              required:
              - identifier
              - query
            example:
              identifier: adventuresoftoms00twaiiala
              query: whitewash
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/film:
    post:
      operationId: letterboxd_film
      summary: 'Full Letterboxd film detail by film slug or URL: title, year, directors, cast…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                film:
                  type: string
                film_slug:
                  type: string
                url:
                  type: string
            example:
              film: parasite-2019
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/user:
    post:
      operationId: letterboxd_user
      summary: 'Public Letterboxd member profile and stats by username: display name, avatar…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
              required:
              - user
            example:
              user: dave
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/user_films:
    post:
      operationId: letterboxd_user_films
      summary: Paginated list of films a Letterboxd member has watched and rated, with their…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - user
            example:
              user: dave
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/user_diary:
    post:
      operationId: letterboxd_user_diary
      summary: 'Paginated diary entries for a Letterboxd member: film slug, name, watch date…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - user
            example:
              user: dave
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/list:
    post:
      operationId: letterboxd_list
      summary: 'A public Letterboxd curated film list: title, description, and the paginated…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                list:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - user
              - list
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/film_reviews:
    post:
      operationId: letterboxd_film_reviews
      summary: 'Paginated public reviews for a Letterboxd film: reviewer username, display…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                film:
                  type: string
                film_slug:
                  type: string
                url:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/browse:
    post:
      operationId: letterboxd_browse
      summary: Browse Letterboxd films with optional genre / decade / year filters, ordered by…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                genre:
                  type: string
                decade:
                  type: string
                year:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/film_similar:
    post:
      operationId: letterboxd_film_similar
      summary: 'Films Letterboxd shows as similar/related to a given film: slug, name, URL…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                film:
                  type: string
                film_slug:
                  type: string
                url:
                  type: string
            example:
              film: parasite-2019
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/lists_popular:
    post:
      operationId: letterboxd_lists_popular
      summary: Browse Letterboxd's most popular member-curated film lists for a time window…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/user_lists:
    post:
      operationId: letterboxd_user_lists
      summary: 'The public film lists a Letterboxd member has created (paginated): list title…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - user
            example:
              user: dave
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /letterboxd/v1/search:
    post:
      operationId: letterboxd_search
      summary: Search Letterboxd for films, members, or curated lists by keyword — returns…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                type:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - query
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/search:
    post:
      operationId: listennotes_search
      summary: Search Listen Notes for podcasts by keyword.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
              required:
              - query
            example:
              query: startup
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/podcast:
    post:
      operationId: listennotes_podcast
      summary: Full detail for one podcast by id (from search) or a Listen Notes podcast URL…
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
            example:
              id: xp7nhsmSkX2
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/episode:
    post:
      operationId: listennotes_episode
      summary: 'Full detail for one episode by id or a Listen Notes episode URL: title…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                url:
                  type: string
            example:
              id: 5d3f3a3fc4534c2ca63c3245f8c2b894
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/best_podcasts:
    post:
      operationId: listennotes_best_podcasts
      summary: The curated 'best podcasts' list for a country, paginated.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  type: string
                page:
                  type: string
            example:
              region: us
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/genre:
    post:
      operationId: listennotes_genre
      summary: Browse the best podcasts in a genre, paginated.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                genre_id:
                  type: string
                page:
                  type: string
              required:
              - genre_id
            example:
              genre_id: 93
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /listennotes/v1/genres:
    post:
      operationId: listennotes_genres
      summary: The complete Listen Notes genre taxonomy — every genre id mapped to its name.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /meetup/v1/search:
    post:
      operationId: meetup_search
      summary: Discover upcoming events near a city.
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                event_type:
                  type: string
                date:
                  type: string
                radius:
                  type: string
                cursor:
                  type: string
            example:
              location: New York
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /meetup/v1/event:
    post:
      operationId: meetup_event
      summary: 'Full detail for one event by id or url: name, description, start/end datetime…'
      tags:
      - Media, Film & Knowledge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: string
                url:
                  type: string
            example:
              url: https://www.meetup.com/code-for-boston/events/315094325/
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
[...]
