{"openapi":"3.0.3","info":{"title":"ReefAPI","version":"1.0.0","description":"Unified data-API gateway. Call POST /{engine}/v1/{action} with an x-api-key header; every response is the { ok, data, meta, error } envelope."},"servers":[{"url":"https://api.reefapi.com"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Reputation & Reviews"},{"name":"Jobs & Hiring"},{"name":"Real Estate"},{"name":"E-commerce & Marketplaces"},{"name":"Social Media"},{"name":"Travel & Lodging"},{"name":"Search & SEO"},{"name":"Finance & Data"},{"name":"Media, Film & Knowledge"},{"name":"Utilities & AI"},{"name":"Developer Tools"},{"name":"Government & Tenders"},{"name":"Classifieds & Second-hand"}],"paths":{"/academic/v1/search":{"post":{"operationId":"academic_search","summary":"search papers (source=openalex|arxiv|crossref|all; cursor pagination, year/OA/type filters, match=title, fulltext=; first-class author_id/venue_id/institution_id/concept_id/topic_id filters for papers BY an entity)","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"source":{"type":"string"},"per_page":{"type":"string"},"cursor":{"type":"string"},"filter":{"type":"string"},"sort":{"type":"string"},"from_year":{"type":"string"},"to_year":{"type":"string"},"open_access":{"type":"string"},"type":{"type":"string"},"match":{"type":"string"},"category":{"type":"string"},"include_abstract":{"type":"string"},"fulltext":{"type":"string"},"author_id":{"type":"string"},"venue_id":{"type":"string"},"institution_id":{"type":"string"},"concept_id":{"type":"string"},"topic_id":{"type":"string"}},"required":["query"]},"example":{"query":"covid"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/paper_detail":{"post":{"operationId":"academic_paper_detail","summary":"full paper (abstract/authors/affiliations/venue/year/DOI/OA-PDF/fields); id=OpenAlex|DOI|arXiv|PMID; cross-source abstract gap-fill","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"enrich":{"type":"string"},"raw":{"type":"string"},"fill_abstract":{"type":"string"}},"required":["id"]},"example":{"id":"W3177828909"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/citations":{"post":{"operationId":"academic_citations","summary":"papers that cite this work (cursor-paginated)","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"per_page":{"type":"string"},"cursor":{"type":"string"}},"required":["id"]},"example":{"id":"W3009885589"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/references":{"post":{"operationId":"academic_references","summary":"works this paper references (hydrated)","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"limit":{"type":"string"}},"required":["id"]},"example":{"id":"W3009885589"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/related":{"post":{"operationId":"academic_related","summary":"OpenAlex-curated related works for a paper (co-cited / topically-adjacent), hydrated","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"limit":{"type":"string"}},"required":["id"]},"example":{"id":"W3177828909"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/author":{"post":{"operationId":"academic_author","summary":"author search (query) or profile (id): works_count, h-index, affiliations; include_works for top papers","tags":["Media, Film & Knowledge"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"include_works":{"type":"string"},"works_limit":{"type":"string"},"per_page":{"type":"string"}}},"example":{"query":"yoshua bengio"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/institution":{"post":{"operationId":"academic_institution","summary":"institution search/profile: ROR, country, geo, works/citation counts, h-index; include_works for the org's papers","tags":["Media, Film & Knowledge"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"per_page":{"type":"string"},"include_works":{"type":"string"},"works_limit":{"type":"string"}}},"example":{"query":"stanford"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/venue":{"post":{"operationId":"academic_venue","summary":"journal/venue search/profile: ISSN, publisher, OA/DOAJ, h-index, works/citation counts; include_works for the venue's papers","tags":["Media, Film & Knowledge"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"per_page":{"type":"string"},"include_works":{"type":"string"},"works_limit":{"type":"string"}}},"example":{"query":"nature"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/concept":{"post":{"operationId":"academic_concept","summary":"concept search (query) or profile (id): level, works/citation counts, description; include_works for papers. NOTE: OpenAlex froze the Concepts dataset (ancestors/related now empty) — use `topic` for the live subject hierarchy","tags":["Media, Film & Knowledge"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"per_page":{"type":"string"},"include_works":{"type":"string"},"works_limit":{"type":"string"}}},"example":{"query":"machine learning"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/topic":{"post":{"operationId":"academic_topic","summary":"topic search (query) or profile (id): domain>field>subfield hierarchy, keywords, siblings, works/citation counts; include_works for papers (the live replacement for Concepts)","tags":["Media, Film & Knowledge"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"query":{"type":"string"},"per_page":{"type":"string"},"include_works":{"type":"string"},"works_limit":{"type":"string"}}},"example":{"query":"protein folding"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/autocomplete":{"post":{"operationId":"academic_autocomplete","summary":"fast typeahead suggestions (works/authors/sources/institutions)","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"q":{"type":"string"},"entity":{"type":"string"}},"required":["q"]},"example":{"q":"deep learn"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/academic/v1/batch":{"post":{"operationId":"academic_batch","summary":"hydrate up to 200 papers by id/DOI in one call (RAG/ETL)","tags":["Media, Film & Knowledge"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"string"},"include_abstract":{"type":"string"},"limit":{"type":"string"}},"required":["ids"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/source_url":{"post":{"operationId":"agent_source_source_url","summary":"Inspect a public URL for source-reliability: reachability, canonical + full redirect chain, title/publisher/published+updated dates, language, official-likelihood, and a stale/archived (wayback) signal.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"check_archive":{"type":"string"},"official_for":{"type":"string"}},"required":["url"]},"example":{"url":"https://openai.com/api/pricing/","official_for":"openai"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/official_source":{"post":{"operationId":"agent_source_official_source","summary":"Resolve the OFFICIAL URL a curated provider publishes for a given need (pricing/docs/changelog/status/legal/model_card) + why it is official (domain match + domain age via whois). Curated whitelist only.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"entity":{"type":"string"},"need_type":{"type":"string"},"verify":{"type":"string"}},"required":["entity"]},"example":{"entity":"OpenAI","need_type":"pricing"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/verify_claim":{"post":{"operationId":"agent_source_verify_claim","summary":"Check whether one or more public source URLs support a factual claim — returns supported, contradicted, not_found, or unclear, along with the matching evidence snippet and a confidence level. Uses exact quote and number matching against the live page content. A source-evidence checker, not a general truth oracle.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"claim":{"type":"string"},"url":{"type":"string"},"urls":{"type":"string"}},"required":["claim","url"]},"example":{"claim":"Claude Opus 4.5 costs $5 per million input tokens","url":"https://docs.claude.com/en/docs/about-claude/pricing"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/pricing_lookup":{"post":{"operationId":"agent_source_pricing_lookup","summary":"Current developer/LLM pricing for a curated provider, parsed live from the provider's own pricing page/API. Each row: model, input/output per-1M-token USD, source_url, last_seen_at, unit, currency, normalization_notes.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string"},"model":{"type":"string"},"limit":{"type":"string"}},"required":["provider"]},"example":{"provider":"openrouter","model":"claude"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/pricing_compare":{"post":{"operationId":"agent_source_pricing_compare","summary":"Compare current pricing across several curated providers (optionally filtered to a model substring) → normalized per-1M-token USD, cheapest-first, each traceable to its source_url + last_seen_at.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"providers":{"type":"string"},"model":{"type":"string"}},"required":["providers"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agent-source/v1/providers":{"post":{"operationId":"agent_source_providers","summary":"List the curated provider whitelist + each provider's capabilities (which need_types and structured pricing are supported) and parse-surface metadata. The honest denominator for official_source / pricing.","tags":["Utilities & AI"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"provider":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agoda/v1/destinations":{"post":{"operationId":"agoda_destinations","summary":"Resolve a free-text place ('Bangkok', 'Tokyo', 'Maldives', an airport or a landmark) into Agoda's destination ids. Returns matched cities, areas, airports, points of interest and hotels with their object_id, type and (for cities) the city_id + hotel count. Use this first to get the city_id the city_browse action needs.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"language":{"type":"string"}},"required":["query"]},"example":{"query":"Bangkok"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agoda/v1/city_browse":{"post":{"operationId":"agoda_city_browse","summary":"Browse a city's popular hotels and accommodation themes. Returns ~100 popular hotels (name + Agoda detail URL), property-type theme links (apartments, hostels, resorts…) and the city's travel guides. Pass a numeric city_id from the destinations action.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"city_id":{"type":"string"},"language":{"type":"string"}},"required":["city_id"]},"example":{"city_id":9395}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agoda/v1/detail":{"post":{"operationId":"agoda_detail","summary":"Full hotel record by hotel_id (or hotel URL): name, accommodation type, star rating, full address + city/country, coordinates, description, facilities (grouped), policies, important notes, nearby places of interest and the property FAQ.","tags":["Travel & Lodging"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"hotel_id":{"type":"string"},"url":{"type":"string"},"language":{"type":"string"}}},"example":{"hotel_id":294217}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/agoda/v1/reviews":{"post":{"operationId":"agoda_reviews","summary":"Paginated guest reviews for one hotel (70 per page): star rating, title, separate positive/negative text, review date, reviewer country, traveler type, room type and length of stay, the owner's reply and helpful votes. The response also carries the hotel's overall score and total review count. Page with `page` until meta.has_more is false.","tags":["Travel & Lodging"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"hotel_id":{"type":"string"},"url":{"type":"string"},"page":{"type":"string"},"sort_by":{"type":"string"},"language":{"type":"string"}}},"example":{"hotel_id":294217}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/stays.search":{"post":{"operationId":"airbnb_stays.search","summary":"Search Airbnb stays by location and dates with full filters: price range, guests, place/property type, bedrooms/beds/baths, amenities, instant-book, Superhost, free cancellation and host language (≈26 cards/page, cursor-paginated).","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"checkin":{"type":"string"},"checkout":{"type":"string"},"adults":{"type":"string"},"children":{"type":"string"},"infants":{"type":"string"},"price_min":{"type":"string"},"price_max":{"type":"string"},"room_type":{"type":"string"},"property_type":{"type":"string"},"min_bedrooms":{"type":"string"},"min_beds":{"type":"string"},"min_bathrooms":{"type":"string"},"amenities":{"type":"string"},"host_languages":{"type":"string"},"instant_book":{"type":"string"},"superhost":{"type":"string"},"free_cancellation":{"type":"string"},"pets_allowed":{"type":"string"},"cursor":{"type":"string"},"currency":{"type":"string"},"locale":{"type":"string"}},"required":["query"]},"example":{"query":"Istanbul, Turkey","checkin":"2026-09-21","checkout":"2026-09-26","adults":2}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/stays.detail":{"post":{"operationId":"airbnb_stays.detail","summary":"Full listing details: title, property/room type, guest capacity, the six category sub-ratings, host card, complete amenity list, photo URLs, sleeping arrangement, house rules, description and map location. Returns a clean `parsed` summary plus the raw PDP payload.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"string"},"currency":{"type":"string"},"locale":{"type":"string"}},"required":["listing_id"]},"example":{"listing_id":"1408102095235129361"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/host.profile":{"post":{"operationId":"airbnb_host.profile","summary":"Host profile for a listing: host name, Superhost/verified status, overall host rating, total reviews, years hosting, response rate and host highlights.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"string"}},"required":["listing_id"]},"example":{"listing_id":"1408102095235129361"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/stays.reviews":{"post":{"operationId":"airbnb_stays.reviews","summary":"Listing reviews, paginated via offset/limit.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"},"locale":{"type":"string"}},"required":["listing_id"]},"example":{"listing_id":"1408102095235129361"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/stays.availability_calendar":{"post":{"operationId":"airbnb_stays.availability_calendar","summary":"Availability calendar for a listing (up to 12 months ahead): per-day availability + min/max nights.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"string"}},"required":["listing_id"]},"example":{"listing_id":"1408102095235129361","month_count":3}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/properties.search":{"post":{"operationId":"airbnb_properties.search","summary":"Alias of stays.search.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"checkin":{"type":"string"},"checkout":{"type":"string"},"adults":{"type":"string"},"cursor":{"type":"string"},"currency":{"type":"string"},"locale":{"type":"string"}},"required":["query"]},"example":{"query":"Istanbul, Turkey"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/properties.detail":{"post":{"operationId":"airbnb_properties.detail","summary":"Alias of stays.detail.","tags":["Travel & Lodging"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listing_id":{"type":"string"},"currency":{"type":"string"},"locale":{"type":"string"}},"required":["listing_id"]},"example":{"listing_id":"1408102095235129361"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/airbnb/v1/autocomplete":{"post":{"operationId":"airbnb_autocomplete","summary":"Location autocomplete suggestions (raw passthrough).","tags":["Travel & Lodging"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/alibaba/v1/search":{"post":{"operationId":"alibaba_search","summary":"Search alibaba.com wholesale listings by keyword — 48 supplier offers per page, each with its unit price (or price range), minimum order quantity, units sold, supplier company and country, review scores and certifications. Filter by price, MOQ, supplier country, category, review score and supplier credentials; sort by relevance, sales volume, response rate or price","tags":["Other"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"page":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"min_order":{"type":"string"},"max_order":{"type":"string"},"supplier_country":{"type":"string"},"category_id":{"type":"string"},"verified_supplier":{"type":"string"},"trade_assurance":{"type":"string"},"min_review_score":{"type":"string"}},"required":["query"]},"example":{"query":"led strip"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/alibaba/v1/product_detail":{"post":{"operationId":"alibaba_product_detail","summary":"Full wholesale detail for one alibaba.com listing — the complete quantity price ladder, minimum order quantity, production lead time, gross weight and package dimensions, the full specification table, image gallery, variant matrix with native SKU ids and per-variant stock, certifications, and the supplier scorecard","tags":["Other"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"}}},"example":{"product_id":"1600104532932"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/alibaba/v1/rfq_search":{"post":{"operationId":"alibaba_rfq_search","summary":"Search live buying requests (RFQs) posted by Alibaba buyers — the demand side of the marketplace. Each row is a purchase a real buyer is asking for right now, in their own words: what they want, how many, which country they are buying from and how long ago they posted it. Filter by keyword, buyer country, category and how recently it was posted; sort newest-first to work the board as a live feed","tags":["Other"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"page":{"type":"string"},"sort":{"type":"string"},"buyer_country":{"type":"string"},"category_id":{"type":"string"},"posted_within":{"type":"string"},"with_attachments":{"type":"string"},"open_only":{"type":"string"}}},"example":{"query":"packaging box"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/search":{"post":{"operationId":"aliexpress_search","summary":"Product search cards (price, sold_count, rating, store); filters sort/min_price/max_price/ship_from/free_shipping, paginated","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"},"page":{"type":"string"},"max_pages":{"type":"string"},"max_results":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"ship_from":{"type":"string"},"free_shipping":{"type":"string"}}},"example":{"query":"wireless earbuds","country":"US","currency":"USD"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/product_detail":{"post":{"operationId":"aliexpress_product_detail","summary":"Full product + SKU-variant price/stock matrix + specs + images + video + store + shipping + rating + coupons + sale countdown + wishlist counts + item weight where the seller published one (empty when they did not — never guessed)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"},"language":{"type":"string"},"province":{"type":"string"},"city":{"type":"string"}}},"example":{"product_id":"3256808363596774"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/reviews":{"post":{"operationId":"aliexpress_reviews","summary":"Buyer reviews (paginated — fetch many pages in one call) + rating distribution","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"},"page":{"type":"string"},"max_pages":{"type":"string"},"max_results":{"type":"string"},"page_size":{"type":"string"},"filter":{"type":"string"},"review_sort":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"}}},"example":{"product_id":"3256808363596774","page_size":10}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/similar":{"post":{"operationId":"aliexpress_similar","summary":"Products similar to a given item (search-backed 'more like this', seed product excluded), paginated","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"},"query":{"type":"string"},"page":{"type":"string"},"max_pages":{"type":"string"},"max_results":{"type":"string"},"sort":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/description":{"post":{"operationId":"aliexpress_description","summary":"Full product description text + images","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"},"description_url":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/shipping":{"post":{"operationId":"aliexpress_shipping","summary":"Shipping options per destination country","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"url":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"},"language":{"type":"string"},"province":{"type":"string"},"city":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/store_info":{"post":{"operationId":"aliexpress_store_info","summary":"Store profile (+ live seller metrics when a query is supplied)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"store_id":{"type":"string"},"store_url":{"type":"string"},"query":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"}}},"example":{"store_id":"1103576287"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/aliexpress/v1/deals":{"post":{"operationId":"aliexpress_deals","summary":"SuperDeals / discounted cards (search-derived, sorted by discount)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"min_discount":{"type":"string"},"sort":{"type":"string"},"page":{"type":"string"},"max_pages":{"type":"string"},"max_results":{"type":"string"},"country":{"type":"string"},"currency":{"type":"string"}},"required":["query"]},"example":{"query":"wireless earbuds"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/allegro/v1/search":{"post":{"operationId":"allegro_search","summary":"Search Allegro by keyword — returns offer cards with title, price (PLN), delivery cost, seller, rating, photos and offer URL. Supports price range, condition, free-delivery, sort and category filters, with page pagination.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"max_pages":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"condition":{"type":"string"},"free_delivery":{"type":"string"},"category":{"type":"string"}},"required":["query"]},"example":{"query":"iphone 15"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/allegro/v1/category":{"post":{"operationId":"allegro_category","summary":"Browse an Allegro category without a keyword (the /kategoria/<slug> grid) — discover popular offers in a category. Supports price/condition/free-delivery/sort filters and page pagination.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"type":"string"},"max_pages":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"condition":{"type":"string"},"free_delivery":{"type":"string"}},"required":["category"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/allegro/v1/offer":{"post":{"operationId":"allegro_offer","summary":"Single Allegro offer/product detail by id or URL — title, price (PLN), main image and gallery, seller handle, and description.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"offer_id":{"type":"string"},"offer_url":{"type":"string"},"url":{"type":"string"}}},"example":{"offer_id":"18673156866"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/allegro/v1/seller_offers":{"post":{"operationId":"allegro_seller_offers","summary":"A seller's public active listings, paginated — every offer a seller (shop) has live. Provide the seller login (handle from a seller URL / a search result's seller.login).","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"seller":{"type":"string"},"max_pages":{"type":"string"},"sort":{"type":"string"}},"required":["seller"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/allegro/v1/suggested":{"post":{"operationId":"allegro_suggested","summary":"Related/recommended Allegro offers for a keyword — a quick set of relevant offers (the first result page) useful for 'more like this' / market discovery.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]},"example":{"query":"iphone 15"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/product/detail":{"post":{"operationId":"amazon_product_detail","summary":"full product page (title/price/currency/rating/count/brand/features/images/categories/variations/tech-specs/A+content/compare-similar) + top-8 inline reviews, by ASIN","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"asin":{"type":"string"},"marketplace":{"type":"string"}},"required":["asin"]},"example":{"asin":"B0DGHMNQ5Z"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/product/reviews":{"post":{"operationId":"amazon_product_reviews","summary":"Amazon product reviews by ASIN — the public reviews from the product page (and optionally merged + deduped across several marketplaces for more depth). Each review has author, rating, title, date, body, verified badge and helpful votes.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"asin":{"type":"string"},"marketplace":{"type":"string"},"marketplaces":{"type":"string"}},"required":["asin"]},"example":{"asin":"B0DGHMNQ5Z"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/product/offers":{"post":{"operationId":"amazon_product_offers","summary":"pinned buybox + all-offers (AOD aodAjaxMain): price/seller/condition/ships_from/delivery/prime, by ASIN","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"asin":{"type":"string"},"marketplace":{"type":"string"}},"required":["asin"]},"example":{"asin":"B0DGHMNQ5Z"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/search":{"post":{"operationId":"amazon_search","summary":"product search with optional filters (price range, minimum rating, deals, brand) → results[]{asin,title,price,currency,rating,rating_count,image,sponsored}","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"marketplace":{"type":"string"},"page":{"type":"string"},"max_results":{"type":"string"},"sort":{"type":"string"},"price_min":{"type":"string"},"price_max":{"type":"string"},"min_rating":{"type":"string"},"deals":{"type":"string"},"discount":{"type":"string"},"prime":{"type":"string"},"brand":{"type":"string"}},"required":["query"]},"example":{"query":"laptop"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/products_batch":{"post":{"operationId":"amazon_products_batch","summary":"Look up MANY Amazon products in ONE call by ASIN — up to 15 per request → each product's title, current price and currency, star rating with review count, image, and any clippable coupon or deal badge. ONE upstream request serves the whole list (not one per ASIN), so this is the cheap way to refresh a price list or reconcile a catalogue against Amazon. IMPORTANT — this returns the SUMMARY card for each product, which is what Amazon publishes on a multi-product surface. For features, technical specifications, variations, barcodes, A+ content or reviews, use product/detail, which reads the full product page and costs one call per ASIN.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"asins":{"type":"string"},"marketplace":{"type":"string"}},"required":["asins"]},"example":{"asins":["B0DGHMNQ5Z","B01GJOMWVA","B0CKM9F15Z"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/bestsellers":{"post":{"operationId":"amazon_bestsellers","summary":"best-sellers ranking for a department (category slug required)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"type":"string"},"marketplace":{"type":"string"},"max_results":{"type":"string"}},"required":["category"]},"example":{"category":"electronics","max_results":30}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/new-releases":{"post":{"operationId":"amazon_new_releases","summary":"new-releases ranking for a department (category slug required)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"type":"string"},"marketplace":{"type":"string"},"max_results":{"type":"string"}},"required":["category"]},"example":{"category":"electronics"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/seller/profile":{"post":{"operationId":"amazon_seller_profile","summary":"seller profile (name, feedback %, lifetime ratings, rating)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"seller_id":{"type":"string"},"marketplace":{"type":"string"}},"required":["seller_id"]},"example":{"seller_id":"A3A9OGKM04K3X0"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/autocomplete":{"post":{"operationId":"amazon_autocomplete","summary":"search autocomplete suggestions","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"marketplace":{"type":"string"}},"required":["query"]},"example":{"query":"laptop"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/seller/products":{"post":{"operationId":"amazon_seller_products","summary":"a seller's catalog/storefront by seller_id (paginated)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"seller_id":{"type":"string"},"marketplace":{"type":"string"},"page":{"type":"string"}},"required":["seller_id"]},"example":{"seller_id":"A3A9OGKM04K3X0"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/seller/reviews":{"post":{"operationId":"amazon_seller_reviews","summary":"seller FEEDBACK reviews (rating/text/rater/date) by seller_id","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"seller_id":{"type":"string"},"marketplace":{"type":"string"}},"required":["seller_id"]},"example":{"seller_id":"A3A9OGKM04K3X0"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/deals":{"post":{"operationId":"amazon_deals","summary":"Amazon deal-products (today's deals / goldbox): asin/title/price/image","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"marketplace":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/product/related":{"post":{"operationId":"amazon_product_related","summary":"Amazon related & recommended products by ASIN — the product-recommendation carousels from the Amazon product page grouped by relationship: 'Customers who viewed this item also viewed', 'Customers also bought', 'Products related to this item' and 'Frequently bought together'. Each recommended product comes with its ASIN, title, price, star rating and image — ideal for building 'you may also like' / cross-sell feeds.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"asin":{"type":"string"},"marketplace":{"type":"string"}},"required":["asin"]},"example":{"asin":"0735211299"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/amazon/v1/gtin-to-asin":{"post":{"operationId":"amazon_gtin_to_asin","summary":"Amazon barcode lookup — convert a product barcode (UPC, EAN, ISBN or GTIN) into the matching Amazon ASIN(s). Pass the 8-14 digit code from a physical product and get back the Amazon listing(s) it maps to (ASIN, title, price, rating, image) — for catalog matching, price checks and reconciling SKUs to Amazon products.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"gtin":{"type":"string"},"marketplace":{"type":"string"}}},"example":{"gtin":"9780735211292"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/reviews":{"post":{"operationId":"app_store_reviews","summary":"unified Apple + Play reviews for one or more apps","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"apps":{"type":"string"},"appleAppId":{"type":"string"},"googlePlayPackage":{"type":"string"},"appName":{"type":"string"},"stores":{"type":"string"},"countries":{"type":"string"},"maxReviews":{"type":"string"}}},"example":{"apps":[{"name":"WhatsApp","apple":"310633997"}],"stores":["apple"],"countries":["us"],"maxReviews":100}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/search":{"post":{"operationId":"app_store_search","summary":"ranked app search results","tags":["Reputation & Reviews"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"stores":{"type":"string"},"country":{"type":"string"},"count":{"type":"string"}},"required":["query"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/topCharts":{"post":{"operationId":"app_store_topCharts","summary":"ranked chart/category apps","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"stores":{"type":"string"},"country":{"type":"string"},"category":{"type":"string"},"count":{"type":"string"},"chart":{"type":"string"},"device":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/listCategories":{"post":{"operationId":"app_store_listCategories","summary":"static genre/category list","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"stores":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/appDetails":{"post":{"operationId":"app_store_appDetails","summary":"full app profile","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string"},"appleAppId":{"type":"string"},"googlePlayPackage":{"type":"string"},"stores":{"type":"string"},"country":{"type":"string"},"includeSimilarApps":{"type":"string"}}},"example":{"stores":["apple"],"country":"us","appId":"324684580"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/developerApps":{"post":{"operationId":"app_store_developerApps","summary":"every other app published by the same developer","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string"},"appleAppId":{"type":"string"},"googlePlayPackage":{"type":"string"},"stores":{"type":"string"},"country":{"type":"string"},"count":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/app-store/v1/similarApps":{"post":{"operationId":"app_store_similarApps","summary":"related / similar apps for an app","tags":["Reputation & Reviews"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string"},"appleAppId":{"type":"string"},"googlePlayPackage":{"type":"string"},"stores":{"type":"string"},"country":{"type":"string"},"count":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/search":{"post":{"operationId":"asos_search","summary":"Keyword product search across the ASOS catalogue with filters (price, brand, colour, size, product type, sale, new-in, discount), sorting and offset/limit pagination.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"brand":{"type":"string"},"colour":{"type":"string"},"color":{"type":"string"},"size":{"type":"string"},"product_type":{"type":"string"},"on_sale":{"type":"string"},"new_in_within":{"type":"string"},"discount":{"type":"string"},"channel":{"type":"string"},"key_store_dataversion":{"type":"string"}},"required":["query"]},"example":{"query":"dress"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/category":{"post":{"operationId":"asos_category","summary":"Browse all products in a category by category_id, with the same filters, sorting and pagination as search. Get category ids from the 'navigation' action.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category_id":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"brand":{"type":"string"},"colour":{"type":"string"},"color":{"type":"string"},"size":{"type":"string"},"product_type":{"type":"string"},"on_sale":{"type":"string"},"new_in_within":{"type":"string"},"discount":{"type":"string"},"channel":{"type":"string"}},"required":["category_id"]},"example":{"category_id":"8799"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/sale":{"post":{"operationId":"asos_sale","summary":"On-sale / marked-down products only. Provide a keyword (query) or a category_id; supports the same filters, sort and pagination as search.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"category_id":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"},"sort":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"brand":{"type":"string"},"colour":{"type":"string"},"color":{"type":"string"},"size":{"type":"string"},"product_type":{"type":"string"},"discount":{"type":"string"}}},"example":{"query":"dress"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/new_in":{"post":{"operationId":"asos_new_in","summary":"Newest arrivals — freshness-sorted products, optionally limited to a recent window (today / last 7 / 14 / 28 days). Provide a keyword (query) or a category_id.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"category_id":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"},"new_in_within":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"brand":{"type":"string"},"colour":{"type":"string"},"color":{"type":"string"},"size":{"type":"string"},"product_type":{"type":"string"}}},"example":{"query":"trainers"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/product":{"post":{"operationId":"asos_product","summary":"full product detail (sizes/stock/description/images) by product_id or product_url","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"product_url":{"type":"string"},"store":{"type":"string"}}},"example":{"product_id":"210879654"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/products":{"post":{"operationId":"asos_products","summary":"batch product detail for comma-separated product_ids","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"product_ids":{"type":"string"},"store":{"type":"string"}},"required":["product_ids"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/navigation":{"post":{"operationId":"asos_navigation","summary":"category links from gender landing pages; format=tree returns nested path hierarchy","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"gender":{"type":"string"},"store":{"type":"string"},"format":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/reviews":{"post":{"operationId":"asos_reviews","summary":"product reviews + rating summary from PDP embedded ratings blob (paginated)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"product_url":{"type":"string"},"offset":{"type":"string"},"limit":{"type":"string"}}},"example":{"product_id":"210879654"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/similar":{"post":{"operationId":"asos_similar","summary":"related products via same-brand search fallback (true mightLike API is account-gated)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"product_url":{"type":"string"},"limit":{"type":"string"},"store":{"type":"string"}}},"example":{"product_id":"210879654","limit":6}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/filters":{"post":{"operationId":"asos_filters","summary":"available search/category facets (brands, colours, sizes, price ranges)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"category_id":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/asos/v1/suggestions":{"post":{"operationId":"asos_suggestions","summary":"search autocomplete suggestions for partial query","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"store":{"type":"string"},"lang":{"type":"string"},"currency":{"type":"string"},"country":{"type":"string"}},"required":["query"]},"example":{"query":"dre"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/ats-jobs/v1/company_jobs":{"post":{"operationId":"ats_jobs_company_jobs","summary":"all open jobs for a board → {jobs[]{id,title,url,company,location,locations,...}, count, total, company, ats_source}. `ats`=greenhouse|lever|ashby|workable + `company` (board token/subdomain).","tags":["Jobs & Hiring"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ats":{"type":"string"},"company":{"type":"string"},"limit":{"type":"string"},"cursor":{"type":"string"},"page":{"type":"string"}},"required":["ats","company"]},"example":{"ats":"greenhouse","company":"gitlab"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/ats-jobs/v1/job_detail":{"post":{"operationId":"ats_jobs_job_detail","summary":"one fully-populated job (description + requirements/benefits) by `ats` + `company` + `job_id`.","tags":["Jobs & Hiring"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ats":{"type":"string"},"company":{"type":"string"},"job_id":{"type":"string"}},"required":["ats","company","job_id"]},"example":{"ats":"greenhouse","company":"gitlab","job_id":"8503792002"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/ats-jobs/v1/search":{"post":{"operationId":"ats_jobs_search","summary":"cross-company job search over the Workable aggregator (170K jobs) → jobs[]. `query` + (default `ats`=workable). paginated.","tags":["Jobs & Hiring"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"ats":{"type":"string"},"limit":{"type":"string"},"cursor":{"type":"string"},"page":{"type":"string"}},"required":["query"]},"example":{"query":"python engineer","ats":"workable"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/ats-jobs/v1/providers":{"post":{"operationId":"ats_jobs_providers","summary":"the supported ATS providers + their capabilities","tags":["Jobs & Hiring"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/vehicle_lookup":{"post":{"operationId":"autodoc_vehicle_lookup","summary":"Walk Autodoc's vehicle tree — this is where every other action starts, because car parts are only meaningful against a specific car. Call it with no parameters for the 52 makers; add `maker` for that maker's model families; add `model` for the generations (the chassis codes: E82, F20, W204); add `generation` for the actual engine variants, each with Autodoc's numeric vehicle id. Add `vehicle` (or pass a `vehicle_url`) and you get the car itself — its full factory description (engine, kW/hp, fuel, build years, engine code) plus every part category Autodoc stocks for it, ready to feed straight into `search`. Set `market` to `de` to walk the German storefront's tree instead; the slugs are the same on both, so a vehicle resolved on one market can be used on the other.","tags":["Other"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"market":{"type":"string"},"maker":{"type":"string"},"model":{"type":"string"},"generation":{"type":"string"},"vehicle":{"type":"string"},"vehicle_url":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/search":{"post":{"operationId":"autodoc_search","summary":"The parts that FIT one exact car, in one part category — the question this API exists to answer. Give a `category` (from the `categories` action, or better from the `categories[]` that a `vehicle_lookup` on your vehicle returns) plus the full vehicle: `maker` + `model` + `generation` + `vehicle`, or a single `vehicle_url`. You get Autodoc's own fitment listing — every brand that makes that part for that car, with price, RRP, rating, review count, the manufacturer's part number, the key specifications and the image — 20 per page. THE VEHICLE IS NOT OPTIONAL, and that is Autodoc's data model rather than a limit of this API: a parts list only exists for one exact engine variant. Autodoc's category page, maker page, model page and generation page are all real pages that carry NO product listing whatsoever (measured: 0 parts at every level above the engine variant, 20 at it). Omitting the vehicle returns MISSING_PARAM rather than an empty result set that would cost you a call and tell you nothing. `market` decides which storefront is priced: `uk` (GBP) or `de` (EUR). The same vehicle and the same category work on both — what changes is the price, the currency and the language of the copy.","tags":["Other"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"category":{"type":"string"},"maker":{"type":"string"},"model":{"type":"string"},"generation":{"type":"string"},"vehicle":{"type":"string"},"market":{"type":"string"},"vehicle_url":{"type":"string"},"page":{"type":"string"},"max_results":{"type":"string"}},"required":["category"]},"example":{"category":"brake-pad-set-10130","maker":"bmw","model":"1er-reihe","generation":"1-coupe-e82","vehicle":"12272-118-d","max_results":20}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/product_detail":{"post":{"operationId":"autodoc_product_detail","summary":"One part in full, by Autodoc's numeric article id (or its URL). Returns the complete image gallery and the 360-degree photo set, the manufacturer's own specification table verbatim (fitting position, dimensions, material, WVA number, weight, EAN), the manufacturer part number, brand, price with currency, availability, shipping cost and return window, the aggregate rating and the customer reviews inline — and, the two fields that matter most in this industry, the full OE cross-reference (every vehicle-manufacturer part number this part replaces) and the equivalent parts Autodoc sells alongside it. `market` picks the storefront — the same `article_id` is the same part on both, priced in GBP on `uk` and EUR on `de`, and `currency` always reports what the page itself said.","tags":["Other"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"article_id":{"type":"string"},"url":{"type":"string"},"market":{"type":"string"},"max_reviews":{"type":"string"}}},"example":{"article_id":"7999106"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/part_search":{"post":{"operationId":"autodoc_part_search","summary":"Autodoc's own catalogue-wide search, across roughly 6.7 million parts. Built for the lookup this trade actually does: paste a manufacturer part number (`1987474465`, `402B0071`) and get that part plus its alternatives, or type plain English (`brake pads`, `wiper blades`) for a normal keyword result set. Results are not scoped to a car — use `search` when you need fitment, and `oem_lookup` when the number you hold came off the vehicle manufacturer's own part. Set `market` to `de` to search the German storefront (EUR).","tags":["Other"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"market":{"type":"string"},"page":{"type":"string"},"max_results":{"type":"string"}},"required":["query"]},"example":{"query":"1987474465"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/oem_lookup":{"post":{"operationId":"autodoc_oem_lookup","summary":"Cross-reference a vehicle manufacturer's ORIGINAL part number to everything Autodoc sells as a replacement for it. Give BMW's 34216774692 and get the Brembo, TRW, Bosch, ATE and budget-brand equivalents, each with price, rating and the manufacturer's own part number. This is the endpoint a workshop or a parts reseller uses, and it is the reverse of the `oem_numbers` list `product_detail` returns for a part. Set `market` to `de` for the German storefront's prices (EUR); the OE number and the parts it resolves to are the same on both.","tags":["Other"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"oem_number":{"type":"string"},"market":{"type":"string"},"page":{"type":"string"},"max_results":{"type":"string"}},"required":["oem_number"]},"example":{"oem_number":"34216774692"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autodoc/v1/categories":{"post":{"operationId":"autodoc_categories","summary":"Autodoc's part-category vocabulary — all 199 leaf categories with the slug and numeric id the `search` action needs, so a caller never has to guess one. Optionally filter with `group` (`brake`, `filter`, `suspension`). `market` picks the storefront, which is what decides the LANGUAGE of the slugs and names — the numeric ids are the same category on both, and a uk slug passed to a de `search` resolves correctly because the number is what Autodoc keys on. Cached hard: this list barely moves.","tags":["Other"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"market":{"type":"string"},"group":{"type":"string"}}},"example":{"group":"brake"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/search":{"post":{"operationId":"autoscout24_search","summary":"Paginated car search by make (+ model/filters) across EU TLDs; deal signals priceEvaluation+superDeal","tags":["Classifieds & Second-hand"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"make":{"type":"string"},"model":{"type":"string"},"model_group":{"type":"string"},"country":{"type":"string"},"page":{"type":"string"},"sort":{"type":"string"},"desc":{"type":"string"},"price_min":{"type":"string"},"price_max":{"type":"string"},"year_min":{"type":"string"},"year_max":{"type":"string"},"mileage_min":{"type":"string"},"mileage_max":{"type":"string"},"fuel":{"type":"string"},"transmission":{"type":"string"},"body_type":{"type":"string"},"zip":{"type":"string"},"radius":{"type":"string"},"power_min":{"type":"string"},"power_max":{"type":"string"},"super_deal":{"type":"string"},"seller_type":{"type":"string"},"offer_type":{"type":"string"}}},"example":{"make":"bmw","country":"de"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/listing":{"post":{"operationId":"autoscout24_listing","summary":"Full listing detail by url/path or id (description, prices, vehicle, images, seller, leasing, warranty)","tags":["Classifieds & Second-hand"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"path":{"type":"string"},"id":{"type":"string"},"country":{"type":"string"}}},"example":{"url":"/angebote/bmw-318-318i-touring-attiva-benzin-cat_ma13mo1640-fb7acb22-cce5-4ab1-8340-7dbe9160bca9","country":"de"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/makes":{"post":{"operationId":"autoscout24_makes","summary":"Vehicle makes taxonomy from search hub page","tags":["Classifieds & Second-hand"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"country":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/models":{"post":{"operationId":"autoscout24_models","summary":"Models taxonomy for a make (query-param filters — path-segment /lst/make/model returns 404)","tags":["Classifieds & Second-hand"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"make":{"type":"string"},"country":{"type":"string"}},"required":["make"]},"example":{"make":"bmw"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/filter_options":{"post":{"operationId":"autoscout24_filter_options","summary":"Available filter dimensions (fuel, body, transmission, etc.) from taxonomy blob","tags":["Classifieds & Second-hand"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"make":{"type":"string"},"country":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/seller_listings":{"post":{"operationId":"autoscout24_seller_listings","summary":"Listings for a dealer/private seller by customer id (cid)","tags":["Classifieds & Second-hand"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"cid":{"type":"string"},"country":{"type":"string"},"page":{"type":"string"},"seller_id":{"type":"string"}},"required":["cid"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autoscout24/v1/browse_links":{"post":{"operationId":"autoscout24_browse_links","summary":"SEO browse graph: cities, body types, model lines, top models (interlinking from search page)","tags":["Classifieds & Second-hand"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"make":{"type":"string"},"country":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autotrader/v1/search":{"post":{"operationId":"autotrader_search","summary":"UK car listings (make/model + filters, paginated); postcode defaults to a UK centroid if omitted","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"make":{"type":"string"},"model":{"type":"string"},"postcode":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"min_year":{"type":"string"},"max_year":{"type":"string"},"min_mileage":{"type":"string"},"max_mileage":{"type":"string"},"fuel":{"type":"string"},"body_type":{"type":"string"},"transmission":{"type":"string"},"radius":{"type":"string"},"page":{"type":"string"},"market":{"type":"string"}}},"example":{"make":"BMW","model":"3 Series","postcode":"SW1A 1AA","market":"uk"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/autotrader/v1/listing_detail":{"post":{"operationId":"autotrader_listing_detail","summary":"Full advert (price+priceIndicator+deviation, mileage, full spec [fuel/trans/body/doors/seats/engine], description, images[], dealer+reviews+address)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"postcode":{"type":"string"},"market":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/lookup":{"post":{"operationId":"barcode_lookup","summary":"Barcode → one merged product: title/brand/category/image/description + dimensions/model + PACKAGE WEIGHT as an explicit {weight, weight_unit} pair (plus weight_grams, weight_type, weight_source and a weight_confidence flag) + retailer offers&prices (UPCitemdb) + net content + nutrition/ingredients/allergens if food (OFF). Includes check-digit validation, GTIN-13 normalization and issuing-country. source=auto merges them, and falls back to go-upc — US general merchandise, retailer private label, apparel and footwear — for barcodes the first two do not carry. Weight is published by roughly 1 barcode in 5 (1 in 3 with deep_weight=true) — when no source states one, weight is null, never 0 and never borrowed from a similar product.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"barcode":{"type":"string"},"source":{"type":"string"},"off_db":{"type":"string"},"deep_weight":{"type":"string"}},"required":["barcode"]},"example":{"barcode":"5449000000996"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/batch":{"post":{"operationId":"barcode_batch","summary":"Up to 20 barcodes in one call → array of merged products (input order preserved), each with its own source/validation. The competitor caps at 10.","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"barcodes":{"type":"string"},"source":{"type":"string"},"off_db":{"type":"string"},"deep_weight":{"type":"string"}},"required":["barcodes"]},"example":{"barcodes":"5449000000996,0885909950805"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/search":{"post":{"operationId":"barcode_search","summary":"Free-text product-name search across the open databases → product cards with pagination. Optional category scope. (Competitor: keyword/title/category search.)","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"category":{"type":"string"},"off_db":{"type":"string"},"source":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"}},"required":["query"]},"example":{"query":"nutella"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/by_brand":{"post":{"operationId":"barcode_by_brand","summary":"All products for a brand/manufacturer → product cards with pagination. (Competitor: brand + manufacturer search.)","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"brand":{"type":"string"},"category":{"type":"string"},"off_db":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"}},"required":["brand"]},"example":{"brand":"coca-cola"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/by_prefix":{"post":{"operationId":"barcode_by_prefix","summary":"GS1 company-prefix (partial-barcode) search → products whose barcode starts with the given 6+ digits, plus the decoded issuing country. (Competitor: `491234*` partial method.)","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prefix":{"type":"string"},"off_db":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"}},"required":["prefix"]},"example":{"prefix":"5449000"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/by_mpn":{"post":{"operationId":"barcode_by_mpn","summary":"Manufacturer-Part-Number / model lookup → products with that MPN/model (UPCitemdb keyword index over the MPN). Exact model/mpn matches are surfaced first. Closes the competitor's mpn query-method (the proprietary mpn= DB-index isn't on the open tier, but the keyword index resolves real MPNs — Logitech 910-005565, Sony WH-1000XM4, Canon 2727C002 all verified).","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mpn":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"}},"required":["mpn"]},"example":{"mpn":"910-005565"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/barcode/v1/validate":{"post":{"operationId":"barcode_validate","summary":"Validate + decode a barcode WITHOUT a network call: mod-10 check digit, GTIN type, GTIN-13 normalization, GS1 issuing country, ISBN/Bookland detection. (We EXCEED the competitor here — it has no standalone validate.)","tags":["Utilities & AI"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"barcode":{"type":"string"}},"required":["barcode"]},"example":{"barcode":"40123455"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/search":{"post":{"operationId":"bestbuy_search","summary":"Search Best Buy by keyword → a paginated, sortable, filterable list of products with name, brand, model, current & regular price, savings, star rating + review count, stock status, image gallery, variants, category, seller type (Best Buy itself vs a marketplace seller), and the product link. Narrow with friendly filters: brand, min_price/max_price, min_rating, condition. NOTE: the full category breadcrumb (category_path) is not published on Best Buy's result grid - grid rows carry the product_type labels instead. For the breadcrumb, use product_detail for one product or products_batch for up to 15 at a time.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"max_results":{"type":"string"},"page":{"type":"string"},"sort":{"type":"string"},"brand":{"type":"string"},"min_price":{"type":"string"},"max_price":{"type":"string"},"min_rating":{"type":"string"},"condition":{"type":"string"},"category":{"type":"string"},"include_sponsored":{"type":"string"}},"required":["query"]},"example":{"query":"laptop"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/product_detail":{"post":{"operationId":"bestbuy_product_detail","summary":"Get the full product card for one Best Buy item by its product number, URL, or product-id → name, brand, model, current/regular price + savings, clearance/sale flags & special offers, stock status, star rating with a 5★-to-1★ breakdown, what customers like/dislike, image gallery, color/storage/carrier variants, and the category breadcrumb.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"url":{"type":"string"}}},"example":{"sku":"6571043"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/products_batch":{"post":{"operationId":"bestbuy_products_batch","summary":"Look up MANY Best Buy products in ONE call by product number — up to 15 per request → each product's barcode (UPC), name, brand, price, rating, images, full technical specifications, shipping weight and package dimensions. Built for enriching a whole catalogue or price list at once instead of one product at a time.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"skus":{"type":"string"}},"required":["skus"]}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/reviews":{"post":{"operationId":"bestbuy_reviews","summary":"Get customer reviews for a Best Buy product → each review's star rating, title, full text, author, date, pros & cons, verified-purchase / incentivized flags, how long they've owned it, helpful-vote counts, and any customer photos. Paginated.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"url":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"},"sort":{"type":"string"}}},"example":{"sku":"6565837"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/review_summary":{"post":{"operationId":"bestbuy_review_summary","summary":"Get the review snapshot for a Best Buy product → average rating, total review count, verified-purchase count, the full 5★-to-1★ rating breakdown, and a 'what customers say' summary of the most-mentioned pros and cons — in a single call.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"url":{"type":"string"}}},"example":{"sku":"6565837"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/search_suggestions":{"post":{"operationId":"bestbuy_search_suggestions","summary":"Get Best Buy search autocomplete suggestions for a partial query → the suggested search terms (with spell-correction), just like the dropdown under the search box.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"limit":{"type":"string"}},"required":["query"]},"example":{"query":"laptop"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/popular_terms":{"post":{"operationId":"bestbuy_popular_terms","summary":"Get Best Buy's currently trending / most-popular search terms (no input needed).","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/price":{"post":{"operationId":"bestbuy_price","summary":"Get the live pricing for a Best Buy product by SKU → current price, regular price, savings, clearance/sale flags and special offers (from Best Buy's pricing API).","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"}},"required":["sku"]},"example":{"sku":"6571043"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/gifts":{"post":{"operationId":"bestbuy_gifts","summary":"Get the Gift-With-Purchase offers for a Best Buy product by SKU → each promotional offer (e.g. 'Apple TV Up to 1 Month GWP') and the free gift SKUs that come with it.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"}},"required":["sku"]},"example":{"sku":"6571043"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/description":{"post":{"operationId":"bestbuy_description","summary":"Get a Best Buy product's full description and complete technical specifications by SKU → the marketing description plus every spec (name/value pairs: connectivity, dimensions, features, etc.). The deep product detail that lives on the product page.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"url":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/deals":{"post":{"operationId":"bestbuy_deals","summary":"Browse Best Buy's current deals — on-sale and clearance products site-wide, sorted by biggest discount by default → each product's name, brand, current & regular price, the amount and percent saved, star rating, stock status, image and link. Great for a 'today's best deals' / price-drop feed. (To find deals within a category, use search with sort=best_discount.)","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sort":{"type":"string"},"max_results":{"type":"string"},"page":{"type":"string"},"include_sponsored":{"type":"string"}}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/trending":{"post":{"operationId":"bestbuy_trending","summary":"Get Best Buy's trending-right-now search terms — what shoppers are searching for at the moment (distinct from popular_terms, which is all-time most-popular). No input needed.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/qa":{"post":{"operationId":"bestbuy_qa","summary":"Get the customer questions & answers for a Best Buy product → each question with its author, date, and every answer (text, author, date, helpful-vote count, and which answer was voted best). Great for pre-purchase research. Paginated.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"url":{"type":"string"},"page":{"type":"string"},"page_size":{"type":"string"},"sort":{"type":"string"}}},"example":{"sku":"6565837"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"description":"Rate limited or quota exhausted"}}}},"/bestbuy/v1/store_availability":{"post":{"operationId":"bestbuy_store_availability","summary":"Check whether a Best Buy product (by SKU) is available to buy for a given ZIP code (and optionally a specific store) → an available flag plus the live buy-button status (e.g. Add to Cart / Sold Out / Pre-Order). Useful for retail-arbitrage and local-stock checks.","tags":["E-commerce & Marketplaces"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"zip":{"type":"string"},"store_id":{"type":"string"}},"required":["sku"]},"example":{"sku":"6505727","zip":"10001"}}}},"responses":{"200":{"description":"Result envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"401":{"description":"Missing or invalid x-api-key"},"429":{"descriptio
[...]
