openapi: 3.2.0
info:
  title: Reef Developer Tools API
  version: 1.0.0
  description: Unified data-API gateway. Call POST /{engine}/v1/{action} with an x-api-key header; every response is the { ok, data, meta, error } envelope.
servers:
- url: https://api.reefapi.com
security:
- ApiKeyAuth: []
tags:
- name: Developer Tools
paths:
  /change-detect/v1/snapshot:
    post:
      operationId: change_detect_snapshot
      summary: 'Fetch a URL and return a noise-resistant fingerprint: content_hash (normalised…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                selector:
                  type: string
                follow_redirects:
                  type: string
              required:
              - url
            example:
              url: https://example.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /change-detect/v1/diff:
    post:
      operationId: change_detect_diff
      summary: Diff a page against a prior baseline (snapshot object OR content_hash OR raw…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                baseline:
                  type: string
                url2:
                  type: string
                selector:
                  type: string
                mode:
                  type: string
                follow_redirects:
                  type: string
              required:
              - url
            example:
              url: https://example.com
              url2: https://www.iana.org/help/example-domains
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /change-detect/v1/monitor_check:
    post:
      operationId: change_detect_monitor_check
      summary: 'The stateless half of monitoring: re-fetch the URL and tell you FAST whether it…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                baseline_hash:
                  type: string
                selector:
                  type: string
                mode:
                  type: string
                follow_redirects:
                  type: string
              required:
              - url
              - baseline_hash
            example:
              url: https://example.com
              baseline_hash: '0000000000000000000000000000000000000000000000000000000000000000'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /change-detect/v1/extract:
    post:
      operationId: change_detect_extract
      summary: Main-content extraction only — boilerplate…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                selector:
                  type: string
                follow_redirects:
                  type: string
              required:
              - url
            example:
              url: https://example.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /change-detect/v1/batch:
    post:
      operationId: change_detect_batch
      summary: Snapshot up to 20 URLs concurrently in one call (each independently…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: string
                selector:
                  type: string
              required:
              - urls
            example:
              urls:
              - https://example.com
              - https://www.iana.org/domains/reserved
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/hash:
    post:
      operationId: dev_utils_hash
      summary: 'Hash/checksum text or binary (base64/hex) input: md5…sha3·blake2·crc32·adler32…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                algo:
                  type: string
                hmac_key:
                  type: string
                input_encoding:
                  type: string
              required:
              - input
            example:
              input: hello world
              algo: sha256
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/uuid:
    post:
      operationId: dev_utils_uuid
      summary: 'Generate ids: uuid v4/v7/v1(MAC-safe)/v3/v5, ULID, nanoid — up to 100'
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                count:
                  type: string
                namespace:
                  type: string
                name:
                  type: string
                size:
                  type: string
            example:
              version: v4
              count: 3
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/encode:
    post:
      operationId: dev_utils_encode
      summary: 'Encode/decode: base64(+url-safe), hex, URL (path/component/form), HTML…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                op:
                  type: string
                direction:
                  type: string
              required:
              - input
              - op
            example:
              input: Merhaba Dünya! 👋
              op: base64
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/jwt_decode:
    post:
      operationId: dev_utils_jwt_decode
      summary: Decode a JWT WITHOUT needing the key (header+payload+claims analysis)…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                verify_key:
                  type: string
              required:
              - token
            example:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
              verify_key: your-256-bit-secret
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/password:
    post:
      operationId: dev_utils_password
      summary: Generate cryptographically-secure passwords (charset controls, ambiguity…
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                length:
                  type: string
                count:
                  type: string
                lowercase:
                  type: string
                uppercase:
                  type: string
                digits:
                  type: string
                symbols:
                  type: string
                exclude_ambiguous:
                  type: string
                check:
                  type: string
            example:
              length: 24
              count: 2
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/cron:
    post:
      operationId: dev_utils_cron
      summary: Explain a cron expression in plain language (15 locales) + compute the next N…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                runs:
                  type: string
                tz:
                  type: string
                locale:
                  type: string
                from_time:
                  type: string
              required:
              - expression
            example:
              expression: '*/15 9-17 * * 1-5'
              runs: 3
              tz: UTC
              from_time: '2026-06-10T12:00:00+00:00'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/slugify:
    post:
      operationId: dev_utils_slugify
      summary: URL-safe slug from any-script text (CJK/Cyrillic/Arabic → ASCII via anyascii…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                separator:
                  type: string
                lowercase:
                  type: string
                max_length:
                  type: string
              required:
              - input
            example:
              input: Çok Güzel Bir Başlık — 2026!
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/regex_test:
    post:
      operationId: dev_utils_regex_test
      summary: 'Test a regex against text: matches + groups + named groups, optional replace.'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pattern:
                  type: string
                input:
                  type: string
                flags:
                  type: string
                replacement:
                  type: string
                max_matches:
                  type: string
              required:
              - pattern
              - input
            example:
              pattern: (\w+)@([\w.]+)
              input: mail jane@acme.com now
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/format:
    post:
      operationId: dev_utils_format
      summary: Pretty-print, minify or validate JSON / YAML / XML / SQL (string-level…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                type:
                  type: string
                op:
                  type: string
                indent:
                  type: string
                sort_keys:
                  type: string
                keyword_case:
                  type: string
              required:
              - input
              - type
            example:
              input: '{"b":1,"a":[1,2]}'
              type: json
              op: pretty
              sort_keys: true
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/convert:
    post:
      operationId: dev_utils_convert
      summary: Convert structured data between JSON / YAML / CSV / XML at the string level…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                from:
                  type: string
                to:
                  type: string
                indent:
                  type: string
                sort_keys:
                  type: string
              required:
              - input
              - from
              - to
            example:
              input: '[{"id":1,"name":"a"},{"id":2,"name":"b"}]'
              from: json
              to: csv
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/qr:
    post:
      operationId: dev_utils_qr
      summary: Generate a QR code as SVG (text), base64-PNG (text data-URI), or terminal ASCII…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                kind:
                  type: string
                error_correction:
                  type: string
                scale:
                  type: string
                border:
                  type: string
              required:
              - input
            example:
              input: https://reefapi.com
              kind: svg
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/color:
    post:
      operationId: dev_utils_color
      summary: Parse any CSS color (hex/rgb()/hsl()/name) → every format + CSS3 name +…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                contrast_with:
                  type: string
              required:
              - input
            example:
              input: '#1a2b3c'
              contrast_with: '#ffffff'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/mock_data:
    post:
      operationId: dev_utils_mock_data
      summary: 'Generate fake/test records (Faker, 70+ locales): preset bundles…'
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                preset:
                  type: string
                schema:
                  type: string
                count:
                  type: string
                locale:
                  type: string
                seed:
                  type: string
            example:
              preset: person
              count: 2
              seed: 42
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/text_diff:
    post:
      operationId: dev_utils_text_diff
      summary: Unified diff between two texts + change stats + similarity ratio
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                a:
                  type: string
                b:
                  type: string
                context:
                  type: string
                label_a:
                  type: string
                label_b:
                  type: string
              required:
              - a
              - b
            example:
              a: 'one

                two'
              b: 'one

                2'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/text_analyze:
    post:
      operationId: dev_utils_text_analyze
      summary: 'Algorithmic text analysis (no LLM): language detect (97 langs) · readability…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                checks:
                  type: string
                top_keywords:
                  type: string
              required:
              - input
            example:
              input: The quick brown fox jumps over the lazy dog. The fox is fast.
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/timestamp:
    post:
      operationId: dev_utils_timestamp
      summary: Parse/convert any timestamp ('now', unix s/ms/µs, ISO-8601, RFC-2822) → every…
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                tz:
                  type: string
            example:
              value: '1718000000'
              tz: Europe/Istanbul
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/case_convert:
    post:
      operationId: dev_utils_case_convert
      summary: 'Convert identifier/text casing: camel·pascal·snake·kebab·constant·dot·title·sent…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                target:
                  type: string
              required:
              - input
              - target
            example:
              input: getUserProfileURL
              target: snake
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/base_convert:
    post:
      operationId: dev_utils_base_convert
      summary: Convert integers between bases 2-36 (arbitrary precision; 0x/0b/0o prefixes…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                from_base:
                  type: string
                to_base:
                  type: string
              required:
              - input
            example:
              input: ff
              from_base: 16
              to_base: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/markdown:
    post:
      operationId: dev_utils_markdown
      summary: Render CommonMark+tables markdown → sanitized HTML (raw HTML escaped, XSS-safe)…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
              required:
              - input
            example:
              input: '# Hello


                world **bold**


                ## Sub Title'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/user_agent:
    post:
      operationId: dev_utils_user_agent
      summary: Parse a User-Agent string → browser/OS/device families + versions + bot flag…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
              required:
              - input
            example:
              input: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /dev-utils/v1/batch:
    post:
      operationId: dev_utils_batch
      summary: Run up to 100 mixed dev-utils calls in one request
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: string
              required:
              - items
            example:
              items:
              - action: hash
                params:
                  input: abc
                  algo: md5
              - action: base_convert
                params:
                  input: '1010'
                  from_base: 2
              - action: encode
                params:
                  input: x
                  op: nope
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/assess:
    post:
      operationId: domain_risk_assess
      summary: 'Comprehensive fraud and security risk report for one domain: a 0-100 risk…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                check_parked:
                  type: string
                include_pii:
                  type: string
              required:
              - domain
            example:
              domain: google.com
              check_parked: false
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/age:
    post:
      operationId: domain_risk_age
      summary: Domain age + expiry-risk band + renewal status (lifecycle synthesis from RDAP…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: github.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/parked:
    post:
      operationId: domain_risk_parked
      summary: Detect whether a domain is parked or listed for sale.
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: google.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/typosquat:
    post:
      operationId: domain_risk_typosquat
      summary: Generate a brand's lookalike domains across 16 permutation families…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                families:
                  type: string
                keywords:
                  type: string
                check_registered:
                  type: string
              required:
              - domain
            example:
              domain: paypal.com
              families: homoglyph,replacement,omission
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/reputation:
    post:
      operationId: domain_risk_reputation
      summary: Registrar / nameserver / age / mail-hygiene (SPF·DMARC·DNSSEC) trust signals →…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: github.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /domain-risk/v1/batch:
    post:
      operationId: domain_risk_batch
      summary: Risk-assess up to 50 domains in one call (RDAP + DNS + email hygiene scoring…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: string
              required:
              - domains
            example:
              domains: google.com,g00gle.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/check:
    post:
      operationId: email_health_check
      summary: 'Full email-health audit: SPF + DKIM + DMARC + MX + BIMI + MTA-STS + TLS-RPT +…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                selector:
                  type: string
                selectors:
                  type: string
                bimi_selector:
                  type: string
                skip_blacklist:
                  type: string
              required:
              - domain
            example:
              domain: google.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/spf:
    post:
      operationId: email_health_spf
      summary: 'Parse + validate the SPF record: follow include:/redirect=, count the ≤10…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: google.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/dmarc:
    post:
      operationId: email_health_dmarc
      summary: 'Parse the DMARC policy at _dmarc.: p/sp/pct/rua/ruf/adkim/aspf/fo + enforcement…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: paypal.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/dkim:
    post:
      operationId: email_health_dkim
      summary: 'DKIM selector lookup (._domainkey.): key type, public-key presence, RSA key-bit…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                selector:
                  type: string
                selectors:
                  type: string
              required:
              - domain
            example:
              domain: paypal.com
              selector: pp2
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/mx:
    post:
      operationId: email_health_mx
      summary: MX records (sorted by preference) + a mail-provider guess from the exchange…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: github.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/blacklist:
    post:
      operationId: email_health_blacklist
      summary: 'DNSBL reputation: reverse the domain''s A + MX-host IPs against live-proven…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                ips:
                  type: string
              required:
              - domain
            example:
              domain: github.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/mta_sts:
    post:
      operationId: email_health_mta_sts
      summary: 'MTA-STS: the _mta-sts.'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: google.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/bimi:
    post:
      operationId: email_health_bimi
      summary: 'BIMI brand-logo record at ._bimi.: the published logo (SVG) URL and the VMC…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                selector:
                  type: string
              required:
              - domain
            example:
              domain: cnn.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/tls_rpt:
    post:
      operationId: email_health_tls_rpt
      summary: 'SMTP TLS Reporting (RFC 8460) record at _smtp._tls.: the rua= report…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: google.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/dnssec:
    post:
      operationId: email_health_dnssec
      summary: 'DNSSEC signing status: the DoH AD (Authenticated-Data) flag = the resolver…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: cloudflare.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/dane:
    post:
      operationId: email_health_dane
      summary: 'DANE for SMTP (RFC 7672): TLSA records at _25._tcp.'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
              - domain
            example:
              domain: internet.nl
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-health/v1/batch:
    post:
      operationId: email_health_batch
      summary: Run the full 'check' audit on up to 25 domains in one call (each with score +…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: string
                skip_blacklist:
                  type: string
              required:
              - domains
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/audit_html:
    post:
      operationId: email_preflight_audit_html
      summary: Full pre-send structure + accessibility + deliverability lint of an HTML email…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                text_part:
                  type: string
                base_url:
                  type: string
                subject:
                  type: string
                check_links:
                  type: string
              required:
              - html
            example:
              html: <html><body><img src='https://x.test/a.png'><a href='https://x.test'>hi</a></body></html>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/css_support:
    post:
      operationId: email_preflight_css_support
      summary: Email-client CSS/HTML compatibility map for the template (Can-I-Email data…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
              required:
              - html
            example:
              html: <div style='display:flex'>x</div>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/spam_score:
    post:
      operationId: email_preflight_spam_score
      summary: Deterministic spam-SIGNAL score for the email content (caps ratio…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                subject:
                  type: string
                text_part:
                  type: string
              required:
              - html
            example:
              html: <p>100% FREE!!! ACT NOW — WIN CASH PRIZE</p>
              subject: FREE MONEY
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/check_links:
    post:
      operationId: email_preflight_check_links
      summary: 'Resolve every link in the email through url-resolver (SSRF-guarded): final URL…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                base_url:
                  type: string
              required:
              - html
            example:
              html: <a href='https://github.com'>a</a><a href='https://example.com'>b</a>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/check_images:
    post:
      operationId: email_preflight_check_images
      summary: 'Audit every in the email: alt text presence, dimensions declared, src…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                base_url:
                  type: string
                check_reachable:
                  type: string
              required:
              - html
            example:
              html: <img src='https://x.test/a.png'><img src='b.png' alt='ok'>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/dns_auth:
    post:
      operationId: email_preflight_dns_auth
      summary: Sender-domain email-authentication summary (SPF/DKIM/DMARC/MX + deliverability…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                dkim_selector:
                  type: string
                include_blacklist:
                  type: string
              required:
              - domain
            example:
              domain: github.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /email-preflight/v1/preview_basic:
    post:
      operationId: email_preflight_preview_basic
      summary: 'Basic visual preview: render the HTML to a PNG via web-capture''s browser…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                width:
                  type: string
              required:
              - html
            example:
              html: <h1>hi</h1>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-package/v1/package_trust:
    post:
      operationId: enrich_package_package_trust
      summary: ecosystem+package → registry metadata + downloads + maintainers + license +…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ecosystem:
                  type: string
                package:
                  type: string
                version:
                  type: string
                mode:
                  type: string
              required:
              - ecosystem
              - package
            example:
              ecosystem: npm
              package: lodash
              version: 4.17.15
              mode: rich
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-package/v1/repo_trust:
    post:
      operationId: enrich_package_repo_trust
      summary: owner/repo → repository health + release cadence + bus-factor signal +…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-package/v1/lockfile_scan:
    post:
      operationId: enrich_package_lockfile_scan
      summary: manifest/lockfile text → dependency list + each dep's vuln/risk summary via one…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                filename:
                  type: string
                ecosystem:
                  type: string
              required:
              - content
            example:
              content: 'lodash

                flask==2.0.0

                requests==2.20.0'
              filename: requirements.txt
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-package/v1/batch:
    post:
      operationId: enrich_package_batch
      summary: trust-score up to 10 packages in one call (basic depth, per-item ok/error)
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: string
              required:
              - items
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/pdf_render:
    post:
      operationId: generate_pdf_render
      summary: Render a PDF from inline HTML/CSS (Jinja2) or a built-in template_name + data…
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                template_name:
                  type: string
                data:
                  type: string
                paper:
                  type: string
                filename:
                  type: string
                allow_hosts:
                  type: string
            example:
              template_name: invoice
              data:
                company:
                  name: Acme
                items:
                - description: Widget
                  qty: 2
                  unit_price: 9.5
                subtotal: 19.0
                total: 19.0
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/pdf_from_html:
    post:
      operationId: generate_pdf_from_html
      summary: Shortcut for rendering inline HTML directly to PDF — the same WeasyPrint engine…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                data:
                  type: string
                paper:
                  type: string
                filename:
                  type: string
                allow_hosts:
                  type: string
              required:
              - html
            example:
              html: <!doctype html><h1>{{ t }}</h1>
              data:
                t: Hello
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/pdf_from_url:
    post:
      operationId: generate_pdf_from_url
      summary: Render a built-in or inline template to PDF, populating it with data fetched…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_url:
                  type: string
                template_name:
                  type: string
                html:
                  type: string
                data_path:
                  type: string
                paper:
                  type: string
                filename:
                  type: string
              required:
              - data_url
            example:
              data_url: https://api.github.com/repos/python/cpython
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/og_image:
    post:
      operationId: generate_og_image
      summary: Render a social / Open Graph card image (1200×630 default) from a built-in…
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                template_name:
                  type: string
                layout:
                  type: string
                vars:
                  type: string
                width:
                  type: string
                height:
                  type: string
                format:
                  type: string
                filename:
                  type: string
            example:
              template_name: og_basic
              vars:
                title: Launch day
                subtitle: v1.0 is live
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/image_from_template:
    post:
      operationId: generate_image_from_template
      summary: Alias of og_image (explicit Bannerbear 'create image from template' naming).
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template_name:
                  type: string
                vars:
                  type: string
                width:
                  type: string
                height:
                  type: string
                format:
                  type: string
                filename:
                  type: string
              required:
              - template_name
            example:
              template_name: invoice
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/image_from_url:
    post:
      operationId: generate_image_from_url
      summary: Render an image template with `vars` fetched from a JSON URL (proxy…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_url:
                  type: string
                template_name:
                  type: string
                layout:
                  type: string
                data_path:
                  type: string
                width:
                  type: string
                height:
                  type: string
                format:
                  type: string
                filename:
                  type: string
              required:
              - data_url
            example:
              data_url: https://api.github.com/repos/python/cpython
              template_name: og_basic
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/chart:
    post:
      operationId: generate_chart
      summary: Render a chart from a Chart.js-style spec — returns a PNG or SVG image.
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                spec:
                  type: string
                format:
                  type: string
                filename:
                  type: string
              required:
              - spec
            example:
              spec:
                type: bar
                data:
                  labels:
                  - A
                  - B
                  - C
                  datasets:
                  - label: x
                    data:
                    - 1
                    - 2
                    - 3
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/chart_types:
    post:
      operationId: generate_chart_types
      summary: List all supported chart types with a description of each. No input required
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/batch_pdf:
    post:
      operationId: generate_batch_pdf
      summary: Render up to 20 PDFs in one call. `jobs` = array of pdf_render param objects
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobs:
                  type: string
              required:
              - jobs
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/batch_image:
    post:
      operationId: generate_batch_image
      summary: Render up to 20 images in one call. `jobs` = array of og_image param objects
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobs:
                  type: string
              required:
              - jobs
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/template_list:
    post:
      operationId: generate_template_list
      summary: List built-in templates (PDF + image) with their data contracts.
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/validate_html:
    post:
      operationId: generate_validate_html
      summary: 'Lint HTML/CSS for the PDF path WITHOUT rendering: flags remote resources that…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
              required:
              - html
            example:
              html: <img src='https://evil.example/x.png'>
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/health:
    post:
      operationId: generate_health
      summary: Renderer diagnostics — which backends (WeasyPrint/Pillow/matplotlib) are…
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/qr:
    post:
      operationId: generate_qr
      summary: Generate a QR code (PNG or SVG) with custom fg/bg color, error-correction, and…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                format:
                  type: string
                error_correction:
                  type: string
                scale:
                  type: string
                border:
                  type: string
                color:
                  type: string
                background:
                  type: string
                logo_url:
                  type: string
                logo_size:
                  type: string
              required:
              - data
            example:
              data: https://reefapi.com
              format: png
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/barcode:
    post:
      operationId: generate_barcode
      summary: 'Generate a 1D barcode IMAGE (PNG or SVG) from data: EAN-13/8, UPC-A, Code-128…'
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                type:
                  type: string
                format:
                  type: string
                show_text:
                  type: string
                module_height:
                  type: string
                color:
                  type: string
                background:
                  type: string
              required:
              - data
              - type
            example:
              data: '5901234123457'
              type: ean13
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/code_image:
    post:
      operationId: generate_code_image
      summary: Render a syntax-highlighted code snippet as a PNG with a carbon/ray.so-style…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                language:
                  type: string
                theme:
                  type: string
                window_style:
                  type: string
                line_numbers:
                  type: string
                font_size:
                  type: string
              required:
              - code
            example:
              code: print('hello')
              language: python
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/favicon:
    post:
      operationId: generate_favicon
      summary: 'Turn one source image into a complete favicon bundle: multi-resolution…'
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                image_base64:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/vcard:
    post:
      operationId: generate_vcard
      summary: Build a vCard (.vcf) contact file from contact fields (vCard 3.0 or 4.0).
      tags:
      - Developer Tools
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                organization:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                email:
                  type: string
                url:
                  type: string
                address:
                  type: string
                note:
                  type: string
                birthday:
                  type: string
                version:
                  type: string
                as_qr:
                  type: string
            example:
              full_name: Jane Doe
              email: jane@acme.com
              phone: '+15550100'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/ical:
    post:
      operationId: generate_ical
      summary: Build an iCalendar (.ics) event file from event fields (RFC 5545).
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary:
                  type: string
                start:
                  type: string
                end:
                  type: string
                duration_minutes:
                  type: string
                location:
                  type: string
                description:
                  type: string
                url:
                  type: string
                organizer_email:
                  type: string
                uid:
                  type: string
                as_qr:
                  type: string
              required:
              - summary
              - start
            example:
              summary: Standup
              start: '2026-07-01T15:00:00Z'
              duration_minutes: 30
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/wifi:
    post:
      operationId: generate_wifi
      summary: Generate a WiFi-join QR code (PNG/SVG) from network credentials — scan to…
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ssid:
                  type: string
                password:
                  type: string
                encryption:
                  type: string
                hidden:
                  type: string
                format:
                  type: string
                scale:
                  type: string
                error_correction:
                  type: string
              required:
              - ssid
            example:
              ssid: MyNet
              password: pw12345
              encryption: WPA
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /generate/v1/batch:
    post:
      operationId: generate_batch
      summary: Generate up to 50 small assets in one request.
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: string
              required:
              - items
            example:
              items:
              - action: qr
                params:
                  data: x
              - action: barcode
                params:
                  data: '5901234123457'
                  type: ean13
              - action: barcode
                params:
                  data: bad
                  type: ean13
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/user:
    post:
      operationId: github_user
      summary: GitHub user profile
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                anon_tier:
                  type: string
              required:
              - username
            example:
              username: torvalds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/user_repos:
    post:
      operationId: github_user_repos
      summary: repositories owned by a user
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                type:
                  type: string
                sort:
                  type: string
                direction:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - username
            example:
              username: torvalds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/user_followers:
    post:
      operationId: github_user_followers
      summary: followers for a user
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - username
            example:
              username: torvalds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/user_following:
    post:
      operationId: github_user_following
      summary: accounts followed by a user
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - username
            example:
              username: torvalds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/user_gists:
    post:
      operationId: github_user_gists
      summary: public gists for a user
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - username
            example:
              username: torvalds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo:
    post:
      operationId: github_repo
      summary: repository metadata
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_issues:
    post:
      operationId: github_repo_issues
      summary: repository issues
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                state:
                  type: string
                since:
                  type: string
                sort:
                  type: string
                direction:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_pulls:
    post:
      operationId: github_repo_pulls
      summary: repository pull requests
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                state:
                  type: string
                sort:
                  type: string
                direction:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_commits:
    post:
      operationId: github_repo_commits
      summary: repository commits
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                sha:
                  type: string
                path:
                  type: string
                author:
                  type: string
                since:
                  type: string
                until:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_contributors:
    post:
      operationId: github_repo_contributors
      summary: repository contributors
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                anon:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_releases:
    post:
      operationId: github_repo_releases
      summary: repository releases
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_stargazers:
    post:
      operationId: github_repo_stargazers
      summary: recent stargazers of a repository
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_forks:
    post:
      operationId: github_repo_forks
      summary: repository forks
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_languages:
    post:
      operationId: github_repo_languages
      summary: repository language byte counts
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_contents:
    post:
      operationId: github_repo_contents
      summary: repository content metadata for a path
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                path:
                  type: string
                ref:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/repo_readme:
    post:
      operationId: github_repo_readme
      summary: repository README metadata/content URL
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                repo:
                  type: string
                ref:
                  type: string
              required:
              - owner
              - repo
            example:
              owner: facebook
              repo: react
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/org:
    post:
      operationId: github_org
      summary: organization profile
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org:
                  type: string
              required:
              - org
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/org_repos:
    post:
      operationId: github_org_repos
      summary: organization repositories
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org:
                  type: string
                type:
                  type: string
                sort:
                  type: string
                direction:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - org
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/org_members:
    post:
      operationId: github_org_members
      summary: public organization members
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                org:
                  type: string
                filter:
                  type: string
                role:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
                cursor:
                  type: string
              required:
              - org
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/search_repos:
    post:
      operationId: github_search_repos
      summary: search repositories
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                sort:
                  type: string
                order:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - q
            example:
              q: fastapi
              per_page: 5
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/search_users:
    post:
      operationId: github_search_users
      summary: search users
      tags:
      - Developer Tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                sort:
                  type: string
                order:
                  type: string
                page:
                  type: string
                per_page:
                  type: string
              required:
              - q
            example:
              q: fastapi
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /github/v1/search_code:
    post:
      operationId: github_search_code
      summary: search code (token required by GitHub)
      tags:
      - Developer Tools
      requestBody:
[...]
