openapi: 3.2.0
info:
  title: Reef E-commerce & Marketplaces API
  version: 1.0.0
  description: Unified data-API gateway. Call POST /{engine}/v1/{action} with an x-api-key header; every response is the { ok, data, meta, error } envelope.
servers:
- url: https://api.reefapi.com
security:
- ApiKeyAuth: []
tags:
- name: E-commerce & Marketplaces
paths:
  /aliexpress/v1/search:
    post:
      operationId: aliexpress_search
      summary: Product search cards (price, sold_count, rating, store); filters…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                country:
                  type: string
                currency:
                  type: string
                page:
                  type: string
                max_pages:
                  type: string
                max_results:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                ship_from:
                  type: string
                free_shipping:
                  type: string
            example:
              query: wireless earbuds
              country: US
              currency: USD
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/product_detail:
    post:
      operationId: aliexpress_product_detail
      summary: Full product + SKU-variant price/stock matrix + specs + images + video + store…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                url:
                  type: string
                country:
                  type: string
                currency:
                  type: string
                language:
                  type: string
                province:
                  type: string
                city:
                  type: string
            example:
              product_id: '3256808363596774'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/reviews:
    post:
      operationId: aliexpress_reviews
      summary: Buyer reviews (paginated — fetch many pages in one call) + rating distribution
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                url:
                  type: string
                page:
                  type: string
                max_pages:
                  type: string
                max_results:
                  type: string
                page_size:
                  type: string
                filter:
                  type: string
                review_sort:
                  type: string
                country:
                  type: string
                currency:
                  type: string
            example:
              product_id: '3256808363596774'
              page_size: 10
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/similar:
    post:
      operationId: aliexpress_similar
      summary: Products similar to a given item (search-backed 'more like this', seed product…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                url:
                  type: string
                query:
                  type: string
                page:
                  type: string
                max_pages:
                  type: string
                max_results:
                  type: string
                sort:
                  type: string
                country:
                  type: string
                currency:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/description:
    post:
      operationId: aliexpress_description
      summary: Full product description text + images
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                url:
                  type: string
                description_url:
                  type: string
                country:
                  type: string
                currency:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/shipping:
    post:
      operationId: aliexpress_shipping
      summary: Shipping options per destination country
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                url:
                  type: string
                country:
                  type: string
                currency:
                  type: string
                language:
                  type: string
                province:
                  type: string
                city:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/store_info:
    post:
      operationId: aliexpress_store_info
      summary: Store profile (+ live seller metrics when a query is supplied)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: string
                store_url:
                  type: string
                query:
                  type: string
                country:
                  type: string
                currency:
                  type: string
            example:
              store_id: '1103576287'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /aliexpress/v1/deals:
    post:
      operationId: aliexpress_deals
      summary: SuperDeals / discounted cards (search-derived, sorted by discount)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                min_discount:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                max_pages:
                  type: string
                max_results:
                  type: string
                country:
                  type: string
                currency:
                  type: string
              required:
              - query
            example:
              query: wireless earbuds
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /allegro/v1/search:
    post:
      operationId: allegro_search
      summary: Search Allegro by keyword — returns offer cards with title, price (PLN)…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                condition:
                  type: string
                free_delivery:
                  type: string
                category:
                  type: string
              required:
              - query
            example:
              query: iphone 15
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /allegro/v1/category:
    post:
      operationId: allegro_category
      summary: Browse an Allegro category without a keyword (the /kategoria/ grid) — discover…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                condition:
                  type: string
                free_delivery:
                  type: string
              required:
              - category
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /allegro/v1/offer:
    post:
      operationId: allegro_offer
      summary: Single Allegro offer/product detail by id or URL — title, price (PLN), main…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                offer_id:
                  type: string
                offer_url:
                  type: string
                url:
                  type: string
            example:
              offer_id: '18673156866'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /allegro/v1/seller_offers:
    post:
      operationId: allegro_seller_offers
      summary: A seller's public active listings, paginated — every offer a seller (shop) has…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
              required:
              - seller
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /allegro/v1/suggested:
    post:
      operationId: allegro_suggested
      summary: Related/recommended Allegro offers for a keyword — a quick set of relevant…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
              required:
              - query
            example:
              query: iphone 15
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/product/detail:
    post:
      operationId: amazon_product_detail
      summary: full product page (title/price/currency/rating/count/brand/features/images/categ…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asin:
                  type: string
                marketplace:
                  type: string
              required:
              - asin
            example:
              asin: B0DGHMNQ5Z
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/product/reviews:
    post:
      operationId: amazon_product_reviews
      summary: Amazon product reviews by ASIN — the public reviews from the product page (and…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asin:
                  type: string
                marketplace:
                  type: string
                marketplaces:
                  type: string
              required:
              - asin
            example:
              asin: B0DGHMNQ5Z
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/product/offers:
    post:
      operationId: amazon_product_offers
      summary: pinned buybox + all-offers (AOD aodAjaxMain)…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asin:
                  type: string
                marketplace:
                  type: string
              required:
              - asin
            example:
              asin: B0DGHMNQ5Z
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/search:
    post:
      operationId: amazon_search
      summary: product search with optional filters (price range, minimum rating, deals…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                marketplace:
                  type: string
                page:
                  type: string
                max_results:
                  type: string
                sort:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                min_rating:
                  type: string
                deals:
                  type: string
                discount:
                  type: string
                prime:
                  type: string
                brand:
                  type: string
              required:
              - query
            example:
              query: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/products_batch:
    post:
      operationId: amazon_products_batch
      summary: Look up MANY Amazon products in ONE call by ASIN — up to 15 per request → each…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asins:
                  type: string
                marketplace:
                  type: string
              required:
              - asins
            example:
              asins:
              - B0DGHMNQ5Z
              - B01GJOMWVA
              - B0CKM9F15Z
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/bestsellers:
    post:
      operationId: amazon_bestsellers
      summary: best-sellers ranking for a department (category slug required)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                marketplace:
                  type: string
                max_results:
                  type: string
              required:
              - category
            example:
              category: electronics
              max_results: 30
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/new-releases:
    post:
      operationId: amazon_new_releases
      summary: new-releases ranking for a department (category slug required)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                marketplace:
                  type: string
                max_results:
                  type: string
              required:
              - category
            example:
              category: electronics
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/seller/profile:
    post:
      operationId: amazon_seller_profile
      summary: seller profile (name, feedback %, lifetime ratings, rating)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller_id:
                  type: string
                marketplace:
                  type: string
              required:
              - seller_id
            example:
              seller_id: A3A9OGKM04K3X0
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/autocomplete:
    post:
      operationId: amazon_autocomplete
      summary: search autocomplete suggestions
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                marketplace:
                  type: string
              required:
              - query
            example:
              query: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/seller/products:
    post:
      operationId: amazon_seller_products
      summary: a seller's catalog/storefront by seller_id (paginated)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller_id:
                  type: string
                marketplace:
                  type: string
                page:
                  type: string
              required:
              - seller_id
            example:
              seller_id: A3A9OGKM04K3X0
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/seller/reviews:
    post:
      operationId: amazon_seller_reviews
      summary: seller FEEDBACK reviews (rating/text/rater/date) by seller_id
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller_id:
                  type: string
                marketplace:
                  type: string
              required:
              - seller_id
            example:
              seller_id: A3A9OGKM04K3X0
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/deals:
    post:
      operationId: amazon_deals
      summary: 'Amazon deal-products (today''s deals / goldbox): asin/title/price/image'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                marketplace:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/product/related:
    post:
      operationId: amazon_product_related
      summary: Amazon related & recommended products by ASIN — the product-recommendation…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asin:
                  type: string
                marketplace:
                  type: string
              required:
              - asin
            example:
              asin: 0735211299
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /amazon/v1/gtin-to-asin:
    post:
      operationId: amazon_gtin_to_asin
      summary: Amazon barcode lookup — convert a product barcode (UPC, EAN, ISBN or GTIN) into…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                marketplace:
                  type: string
            example:
              gtin: '9780735211292'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/search:
    post:
      operationId: asos_search
      summary: Keyword product search across the ASOS catalogue with filters (price, brand…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                brand:
                  type: string
                colour:
                  type: string
                color:
                  type: string
                size:
                  type: string
                product_type:
                  type: string
                on_sale:
                  type: string
                new_in_within:
                  type: string
                discount:
                  type: string
                channel:
                  type: string
                key_store_dataversion:
                  type: string
              required:
              - query
            example:
              query: dress
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/category:
    post:
      operationId: asos_category
      summary: Browse all products in a category by category_id, with the same filters…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                brand:
                  type: string
                colour:
                  type: string
                color:
                  type: string
                size:
                  type: string
                product_type:
                  type: string
                on_sale:
                  type: string
                new_in_within:
                  type: string
                discount:
                  type: string
                channel:
                  type: string
              required:
              - category_id
            example:
              category_id: '8799'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/sale:
    post:
      operationId: asos_sale
      summary: On-sale / marked-down products only.
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                category_id:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                brand:
                  type: string
                colour:
                  type: string
                color:
                  type: string
                size:
                  type: string
                product_type:
                  type: string
                discount:
                  type: string
            example:
              query: dress
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/new_in:
    post:
      operationId: asos_new_in
      summary: Newest arrivals — freshness-sorted products, optionally limited to a recent…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                category_id:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
                new_in_within:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                brand:
                  type: string
                colour:
                  type: string
                color:
                  type: string
                size:
                  type: string
                product_type:
                  type: string
            example:
              query: trainers
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/product:
    post:
      operationId: asos_product
      summary: full product detail (sizes/stock/description/images) by product_id or…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                product_url:
                  type: string
                store:
                  type: string
            example:
              product_id: '210879654'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/products:
    post:
      operationId: asos_products
      summary: batch product detail for comma-separated product_ids
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: string
                store:
                  type: string
              required:
              - product_ids
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/navigation:
    post:
      operationId: asos_navigation
      summary: category links from gender landing pages; format=tree returns nested path…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                gender:
                  type: string
                store:
                  type: string
                format:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/reviews:
    post:
      operationId: asos_reviews
      summary: product reviews + rating summary from PDP embedded ratings blob (paginated)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                product_url:
                  type: string
                offset:
                  type: string
                limit:
                  type: string
            example:
              product_id: '210879654'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/similar:
    post:
      operationId: asos_similar
      summary: related products via same-brand search fallback (true mightLike API is…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                product_url:
                  type: string
                limit:
                  type: string
                store:
                  type: string
            example:
              product_id: '210879654'
              limit: 6
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/filters:
    post:
      operationId: asos_filters
      summary: available search/category facets (brands, colours, sizes, price ranges)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                category_id:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /asos/v1/suggestions:
    post:
      operationId: asos_suggestions
      summary: search autocomplete suggestions for partial query
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                store:
                  type: string
                lang:
                  type: string
                currency:
                  type: string
                country:
                  type: string
              required:
              - query
            example:
              query: dre
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /autotrader/v1/search:
    post:
      operationId: autotrader_search
      summary: UK car listings (make/model + filters, paginated); postcode defaults to a UK…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                make:
                  type: string
                model:
                  type: string
                postcode:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                min_year:
                  type: string
                max_year:
                  type: string
                min_mileage:
                  type: string
                max_mileage:
                  type: string
                fuel:
                  type: string
                body_type:
                  type: string
                transmission:
                  type: string
                radius:
                  type: string
                page:
                  type: string
                market:
                  type: string
            example:
              make: BMW
              model: 3 Series
              postcode: SW1A 1AA
              market: uk
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /autotrader/v1/listing_detail:
    post:
      operationId: autotrader_listing_detail
      summary: Full advert (price+priceIndicator+deviation, mileage, full spec…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                postcode:
                  type: string
                market:
                  type: string
              required:
              - id
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/search:
    post:
      operationId: bestbuy_search
      summary: Search Best Buy by keyword → a paginated, sortable, filterable list of products…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                max_results:
                  type: string
                page:
                  type: string
                sort:
                  type: string
                brand:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                min_rating:
                  type: string
                condition:
                  type: string
                category:
                  type: string
                include_sponsored:
                  type: string
              required:
              - query
            example:
              query: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/product_detail:
    post:
      operationId: bestbuy_product_detail
      summary: Get the full product card for one Best Buy item by its product number, URL, or…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                url:
                  type: string
            example:
              sku: '6571043'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/products_batch:
    post:
      operationId: bestbuy_products_batch
      summary: Look up MANY Best Buy products in ONE call by product number — up to 15 per…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skus:
                  type: string
              required:
              - skus
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/reviews:
    post:
      operationId: bestbuy_reviews
      summary: Get customer reviews for a Best Buy product → each review's star rating, title…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                url:
                  type: string
                page:
                  type: string
                page_size:
                  type: string
                sort:
                  type: string
            example:
              sku: '6565837'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/review_summary:
    post:
      operationId: bestbuy_review_summary
      summary: Get the review snapshot for a Best Buy product → average rating, total review…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                url:
                  type: string
            example:
              sku: '6565837'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/search_suggestions:
    post:
      operationId: bestbuy_search_suggestions
      summary: Get Best Buy search autocomplete suggestions for a partial query → the…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                limit:
                  type: string
              required:
              - query
            example:
              query: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/popular_terms:
    post:
      operationId: bestbuy_popular_terms
      summary: Get Best Buy's currently trending / most-popular search terms (no input needed)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/price:
    post:
      operationId: bestbuy_price
      summary: Get the live pricing for a Best Buy product by SKU → current price, regular…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
              required:
              - sku
            example:
              sku: '6571043'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/gifts:
    post:
      operationId: bestbuy_gifts
      summary: Get the Gift-With-Purchase offers for a Best Buy product by SKU → each…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
              required:
              - sku
            example:
              sku: '6571043'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/description:
    post:
      operationId: bestbuy_description
      summary: Get a Best Buy product's full description and complete technical specifications…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                url:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/deals:
    post:
      operationId: bestbuy_deals
      summary: Browse Best Buy's current deals — on-sale and clearance products site-wide…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                max_results:
                  type: string
                page:
                  type: string
                include_sponsored:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/trending:
    post:
      operationId: bestbuy_trending
      summary: Get Best Buy's trending-right-now search terms — what shoppers are searching…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/qa:
    post:
      operationId: bestbuy_qa
      summary: Get the customer questions & answers for a Best Buy product → each question…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                url:
                  type: string
                page:
                  type: string
                page_size:
                  type: string
                sort:
                  type: string
            example:
              sku: '6565837'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/store_availability:
    post:
      operationId: bestbuy_store_availability
      summary: Check whether a Best Buy product (by SKU) is available to buy for a given ZIP…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                zip:
                  type: string
                store_id:
                  type: string
              required:
              - sku
            example:
              sku: '6505727'
              zip: '10001'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /bestbuy/v1/categories:
    post:
      operationId: bestbuy_categories
      summary: Discover the categories and filter facets available for a Best Buy keyword…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                category:
                  type: string
              required:
              - query
            example:
              query: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /chrono24/v1/search:
    post:
      operationId: chrono24_search
      summary: Search Chrono24 by free-text keyword (brand + model + reference, e.g.
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                page:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                condition:
                  type: string
                movement:
                  type: string
                year:
                  type: string
                sort:
                  type: string
              required:
              - query
            example:
              query: rolex submariner
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /chrono24/v1/browse:
    post:
      operationId: chrono24_browse
      summary: Browse all listings for a brand (e.g.
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand:
                  type: string
                model:
                  type: string
                page:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                condition:
                  type: string
                movement:
                  type: string
                year:
                  type: string
                sort:
                  type: string
              required:
              - brand
            example:
              brand: omega
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /chrono24/v1/detail:
    post:
      operationId: chrono24_detail
      summary: 'Full watch listing by `url` OR `listing_id`: brand, model, reference number…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                listing_id:
                  type: string
            example:
              url: https://www.chrono24.com/omega/seamaster--id45792727.htm
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /copart/v1/search:
    post:
      operationId: copart_search
      summary: Search live Copart auction lots by free-text `query` and/or structured filters…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                make:
                  type: string
                model:
                  type: string
                year:
                  type: string
                year_min:
                  type: string
                year_max:
                  type: string
                title_type:
                  type: string
                vehicle_type:
                  type: string
                damage:
                  type: string
                condition:
                  type: string
                source:
                  type: string
                odometer_min:
                  type: string
                odometer_max:
                  type: string
                yard_number:
                  type: string
                location:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                size:
                  type: string
            example:
              make: HONDA
              size: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /copart/v1/lot_detail:
    post:
      operationId: copart_lot_detail
      summary: 'Full detail for one lot by `lot_number`: VIN (publicly masked by Copart), make…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lot_number:
                  type: string
              required:
              - lot_number
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /copart/v1/lot_images:
    post:
      operationId: copart_lot_images
      summary: 'All auction photos for one lot by `lot_number`: ordered full-size, hi-res and…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lot_number:
                  type: string
              required:
              - lot_number
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /copart/v1/yards:
    post:
      operationId: copart_yards
      summary: Live list of Copart yards / locations you can filter `search` by, each with its…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/search:
    post:
      operationId: ebay_search
      summary: active-listing search by `query` -> results[]{item_id,title,price{value,currency…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                domain:
                  type: string
                page:
                  type: string
                max_results:
                  type: string
                sort:
                  type: string
                condition:
                  type: string
                category:
                  type: string
                buy_it_now:
                  type: string
                auction:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                free_shipping:
                  type: string
                returns_accepted:
                  type: string
                best_offer:
                  type: string
                location:
                  type: string
              required:
              - query
            example:
              query: iphone 13 pro
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/item_detail:
    post:
      operationId: ebay_item_detail
      summary: 'Full eBay item detail by item_id or listing URL: title, price, list price…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: string
                url:
                  type: string
                domain:
                  type: string
                include_description:
                  type: string
            example:
              item_id: '287070621317'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/items_batch:
    post:
      operationId: ebay_items_batch
      summary: Look up MANY eBay listings in ONE call by item number — up to 15 per request →…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_ids:
                  type: string
                domain:
                  type: string
              required:
              - item_ids
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/seller_items:
    post:
      operationId: ebay_seller_items
      summary: All active listings in a seller's storefront by `seller` username (eBay _ssn)…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller:
                  type: string
                domain:
                  type: string
                page:
                  type: string
                max_results:
                  type: string
                sort:
                  type: string
                condition:
                  type: string
                category:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                free_shipping:
                  type: string
                returns_accepted:
                  type: string
                best_offer:
                  type: string
                location:
                  type: string
                buy_it_now:
                  type: string
                auction:
                  type: string
              required:
              - seller
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/seller_profile:
    post:
      operationId: ebay_seller_profile
      summary: Seller reputation by `seller` username -> seller_profile{store_name…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seller:
                  type: string
                domain:
                  type: string
              required:
              - seller
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/deals:
    post:
      operationId: ebay_deals
      summary: eBay Daily Deals grid (/deals) -> results[]{item_id,title,price{value,currency}…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                max_results:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /ebay/v1/categories:
    post:
      operationId: ebay_categories
      summary: eBay category tree / ID lookup (/n/all-categories) ->…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                domain:
                  type: string
                max_results:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /encar/v1/search:
    post:
      operationId: encar_search
      summary: 'Search live Encar used-car listings by structured filters: make, model, trim…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                make:
                  type: string
                model:
                  type: string
                trim:
                  type: string
                car_type:
                  type: string
                fuel:
                  type: string
                transmission:
                  type: string
                region:
                  type: string
                price_min:
                  type: string
                price_max:
                  type: string
                year_min:
                  type: string
                year_max:
                  type: string
                mileage_min:
                  type: string
                mileage_max:
                  type: string
                sort:
                  type: string
                page:
                  type: string
                size:
                  type: string
            example:
              make: Hyundai
              size: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /encar/v1/detail:
    post:
      operationId: encar_detail
      summary: 'Full detail for one car by `id`: price (만원 + KRW), make/model/grade (Korean +…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /encar/v1/makes:
    post:
      operationId: encar_makes
      summary: Browse all Korean (domestic) and imported makes available on Encar, each with…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                car_type:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-recall/v1/product_match:
    post:
      operationId: enrich_recall_product_match
      summary: Resolve a product (GTIN ‖ title+brand ‖ listing_url) and match it against FDA +…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                title:
                  type: string
                brand:
                  type: string
                category:
                  type: string
                listing_url:
                  type: string
                max_results:
                  type: string
            example:
              gtin: 0860007279478
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-recall/v1/brand_check:
    post:
      operationId: enrich_recall_brand_check
      summary: All recalls for a brand / recalling-firm (normalized passthrough of the recall…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand:
                  type: string
                category:
                  type: string
                date_from:
                  type: string
                date_to:
                  type: string
                limit:
                  type: string
              required:
              - brand
            example:
              brand: Pfizer
              category: drug
              limit: 3
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-recall/v1/batch:
    post:
      operationId: enrich_recall_batch
      summary: Scan up to 25 catalog products in one call (seller pre-listing audit).
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: string
                max_results:
                  type: string
              required:
              - items
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-store/v1/store_lookup:
    post:
      operationId: enrich_store_store_lookup
      summary: store domain → platform verdict + store metadata + tech-stack + catalog sample…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store:
                  type: string
                mode:
                  type: string
                max_items:
                  type: string
                include_marketplace:
                  type: string
              required:
              - store
            example:
              store: allbirds.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-store/v1/platform_detect:
    post:
      operationId: enrich_store_platform_detect
      summary: store domain → ecommerce platform verdict…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store:
                  type: string
              required:
              - store
            example:
              store: allbirds.com
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /enrich-store/v1/batch:
    post:
      operationId: enrich_store_batch
      summary: look up to 5 stores in one call (basic mode, cache-first, per-store ok/error)
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                stores:
                  type: string
              required:
              - stores
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/listings/search:
    post:
      operationId: etsy_listings_search
      summary: Search Etsy handmade/vintage listings by keyword — returns listing cards with…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                category:
                  type: string
                free_shipping:
                  type: string
              required:
              - query
            example:
              query: silver ring
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/listings/detail:
    post:
      operationId: etsy_listings_detail
      summary: Full Etsy listing detail by listing ID or URL — title, price, sale price…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                listing_url:
                  type: string
                listing_id:
                  type: string
                url:
                  type: string
            example:
              listing_id: '1509738931'
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/shops/detail:
    post:
      operationId: etsy_shops_detail
      summary: Etsy shop profile by shop slug or URL — name, total lifetime sales, location…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                shop_url:
                  type: string
                shop_slug:
                  type: string
                url:
                  type: string
            example:
              shop_slug: SilverRainSilver
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/shops/listings:
    post:
      operationId: etsy_shops_listings
      summary: Browse a shop's full active catalog, paginated — every product the shop sells…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                shop_url:
                  type: string
                shop_slug:
                  type: string
                url:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/listings/category:
    post:
      operationId: etsy_listings_category
      summary: Browse Etsy by category (the /c/ grid) — discover trending/popular listings in…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                max_pages:
                  type: string
                sort:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                free_shipping:
                  type: string
              required:
              - category
            example:
              category: jewelry/rings
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/reviews/shop:
    post:
      operationId: etsy_reviews_shop
      summary: Customer reviews for an Etsy shop — star rating, review text, reviewer, date…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                shop_slug:
                  type: string
                shop_url:
                  type: string
                url:
                  type: string
                shop_id:
                  type: string
                limit:
                  type: string
                max_pages:
                  type: string
                exclude_listing_id:
                  type: string
            example:
              shop_id: '7357402'
              limit: 20
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/reviews/listing:
    post:
      operationId: etsy_reviews_listing
      summary: Customer reviews for a single Etsy listing — star rating, review text…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                listing_url:
                  type: string
                listing_id:
                  type: string
                url:
                  type: string
                max_pages:
                  type: string
            example:
              listing_id: '1509738931'
              max_pages: 1
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /etsy/v1/search/suggest:
    post:
      operationId: etsy_search_suggest
      summary: Etsy search autocomplete — keyword suggestions for a partial query (no account…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                limit:
                  type: string
              required:
              - query
            example:
              query: silver ring
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/search:
    post:
      operationId: flipkart_search
      summary: Flipkart product search with filters — keyword search returning product cards…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                page:
                  type: string
                sort:
                  type: string
                brand:
                  type: string
                min_price:
                  type: string
                max_price:
                  type: string
                min_rating:
                  type: string
                min_discount:
                  type: string
                f_assured:
                  type: string
                no_cost_emi:
                  type: string
                include_out_of_stock:
                  type: string
                facets:
                  type: string
              required:
              - q
            example:
              q: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/product:
    post:
      operationId: flipkart_product
      summary: full product page facts (title/price/mrp/rating/specs/highlights/images/seller/s…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                itm_id:
                  type: string
            example:
              itm_id: itm5a14f3731bf15
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/reviews:
    post:
      operationId: flipkart_reviews
      summary: Flipkart buyer reviews for a product, paginated — each review has rating…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                slug:
                  type: string
                itm_id:
                  type: string
                page:
                  type: string
                sort:
                  type: string
            example:
              itm_id: itm5a14f3731bf15
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/category:
    post:
      operationId: flipkart_category
      summary: category/browse listing cards from a Flipkart category URL/path
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                path:
                  type: string
                page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/browse:
    post:
      operationId: flipkart_browse
      summary: Alias of the `category` action — browse/listing cards from a Flipkart category…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                path:
                  type: string
                page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/similar:
    post:
      operationId: flipkart_similar
      summary: similar/related products from a product page reco widgets
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                itm_id:
                  type: string
                product_id:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/seller:
    post:
      operationId: flipkart_seller
      summary: 'Who sells a product: seller id, fulfilment and availability, resolved from a…'
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_url:
                  type: string
                url:
                  type: string
                seller_id:
                  type: string
                seller_path:
                  type: string
                seller_url:
                  type: string
                product_id:
                  type: string
                page:
                  type: string
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/autocomplete:
    post:
      operationId: flipkart_autocomplete
      summary: search autosuggest suggestions for a partial query
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
              required:
              - q
            example:
              q: laptop
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/categories:
    post:
      operationId: flipkart_categories
      summary: top-level navigation/category links from homepage state
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Result envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Missing or invalid x-api-key
        '429':
          description: Rate limited or quota exhausted
  /flipkart/v1/variants:
    post:
      operationId: flipkart_variants
      summary: Product variants (the sibling SKUs — color/storage/size) each with its OWN…
      tags:
      - E-commerce & Marketplaces
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
[...]
